[2016-07-24 19:04] ShoukriKattan opened #1 "Allow account_linking type event to propagate from webhook to allow handling"
First of all thanks for the awesome library!! Nicely written and architected!

Facebook's latest Webhook reference (https://developers.facebook.com/docs/messenger-platform/webhook-reference/account-linking) supports account linking process to Link Messenger account to 3rd party accounts. It will be nice If Bootbot will allow account_linking type event to propagate.

This is a one line change, that

[2016-07-28 18:16] Charca commented on #1
Hey @ShoukriKattan, thanks for the suggestion! I've added support for `account_linking` events on the latest version: 1.0.6

Thanks again, and feel free to submit a PR next time :)

Diff: https://github.com/Charca/bootbot/commit/5feabaac3d1a313114504e1aa5ec8825bb88235d

[2016-07-28 18:16] #1 closed

[2016-07-28 18:19] Charca opened #2 "Add warning when using a quick reply title that exceeds 20 characters"
Quick Replies have a limit of 20 characters. If you try to send a message with a quick reply that exceeds this limit, it will fail silently and won't send the message.

We should log a warning to the console when you try to send a quick reply with 20+ characters.

[2016-08-05 00:22] SawyerHood opened #3 "Middleware Support [Feature Request]"
Hey @Charca , I saw your post about BootBot in the Bots Facebook group and after looking at the framework, I really want to try BootBot for my next Messenger bot. I've been using NLP services in most of my bots (specifically Wit.ai) however and would love it if BootBot had support for middleware to do additional processing when a message is received. I could use `bot.on('message')` to process mess

[2016-08-05 05:22] ansarizafar opened #4 "Account Linking"
Is it possible to use account linking feature with bootbot?

[2016-08-05 18:53] Charca commented on #4
Hi @ansarizafar, yes you can use Account Linking with BootBot. You can subscribe to the `account_linking` event with your `bot` instance. For example:

[code]

Your `payload` will have the format specified in the [Account Linking Documentation](https://developers.facebook.com/docs/messenger-platform/webhook-reference/account-linking)

And to send a Login or Logout button, you can use any of the me

[2016-08-05 20:29] Charca commented on #4
Added a wiki entry with this information: https://github.com/Charca/bootbot/wiki/Account-Linking

[2016-08-05 20:29] #4 closed

[2016-08-05 20:39] Charca commented on #3
Hey @SawyerHood, this is a great suggestion. I wasn't planning on adding middleware support right now, but anything that helps integrating other services (specially NLP services) it's in the roadmap!

I like your initial proposal, I'll run a few experiments during the weekend to get a better feel of it, but please feel free to submit a PR implementing this feature. Can't wait to see it!

[2016-08-06 23:51] SawyerHood commented on #3
@Charca, I'm slammed this weekend but during the week I'll think through it and try to throw something together that works well with existing features (including conversations). Keep me posted on what you experiment with and what you think up to integrate 3rd party platforms into BootBot.

[2016-08-10 18:48] joshes opened #5 "Align on configuration variable names"
I'm using the `bootbot-cli` tool and the config names are using underscores, whereas `bootbot` is using camelCase. I was going to put a PR together, but wasn't sure which one should change.

LMKWYT.

[2016-08-10 19:10] Charca commented on #5
Hey @joshes, I think we should change the variable names on `bootbot-cli` to camelCase. I believe these are only underscored variable names in bootbot-cli: https://github.com/Charca/bootbot-cli/blob/master/template/config/default.json

Feel free to send a PR! Thanks!

[2016-08-11 17:12] Charca commented on #5
https://github.com/Charca/bootbot-cli/releases/tag/v1.0.5

[2016-08-11 17:12] #5 closed

[2016-08-13 13:23] Now2407 opened #7 "messages not getting delivered"
for some reason my bot is not working with this framework. i have no reason why its not receiving  messages? <img width="923" alt="screen shot 2016-08-13 at 6 15 03 am" src="https://cloud.githubusercontent.com/assets/6015402/17643378/76e03530-611d-11e6-995f-3cad5563903a.png">
    the code i am using

    `const BootBot = require('bootbot');

    const bot = new BootBot({
    accessToken: process.e

[2016-08-14 05:06] Now2407 opened #8 "webhooks failing on heroku app"
hello, my webhooks seem to be failing. facebook is sending me alerts saying my webhooks are failing when using this framework. i am hosting node js on heroku. could someone point me in the right direction as far as getting it working? thanks!

[2016-08-16 04:02] Charca commented on #8
Hey @Now2407, are you running your bot with something like `pm2` or `forever` in heroku to keep it running after closing your session? Are you getting any error messages on the console? If Facebook is telling you your webhooks are not responding, it's likely that the Express server stopped running. If you give me more information about it I might be able to give you a hand.

[2016-08-18 16:52] Now2407 commented on #8
@Charca hey i got it working. the problem was i was using the bot.start() function and a app.listen(port) at the same time so and deleted app.listen(port) and popped the heroku and localhost port into the bot.start() function witch made it bot.start(port) and it works! thanks, you made an awesome framework and i love it! to say thank you i am going to share this framework in a fb group that has a

[2016-08-18 16:52] #8 closed

[2016-08-18 16:52] Now2407 commented on #7
@Charca hey i got it working. the problem was i was using the bot.start() function and a app.listen(port) at the same time so and deleted app.listen(port) and popped the heroku and localhost port into the bot.start() function witch made it bot.start(port) and it works! thanks, you made an awesome framework and i love it! to say thank you i am going to share this framework in a fb group that has a

[2016-08-18 16:52] #7 closed

[2016-08-18 17:06] Now2407 commented on #8
here is the group i posted in https://www.facebook.com/groups/PennAppsHS/ - thanks!

[2016-08-18 17:06] Now2407 commented on #7
here is the group i posted in https://www.facebook.com/groups/PennAppsHS/ - thanks!

[2016-08-18 18:33] Now2407 opened #9 "chat.sendGenericTemplate() is not completing"
hello, i am trying to send a generic template but it starts sending and never completes! what is wrong with what i am doing?

[code]

can @Charca or anyone else show me the right way? thanks!

[2016-08-19 04:18] Now2407 commented on #9
i fixed the error by sending with the sendTemplate() function and adding template_type: 'generic', to the template structure. this works. @Charca its not urgent but look into fixing the sendGenericTemplate() function. i have no clue why it doesn't work for me. i am keeping this issue open untill sendGenericTemplate() is fixed but for others use the sendTemplate() function and add template_type: 'g

[2016-08-19 19:45] Charca commented on #9
Hey @Now2407, the `sendGenericTemplate()` expects an array, so you don't need to specify the `elements` attribute in an object.

You're sending:

[code]

But it should be:

[code]

[2016-09-04 15:09] adavid102 opened #10 "postback with regex or wildcard or parameter"
Hi,
First, thanks for this Awesome library.
I'm using it and enjoying every moment.

I brought up a pretty nice project of my own.
I now ran into an issue where I have a list of items with buttons.
I want to define a postback so that when the user presses one of the buttons I will arrive at the same function and handle same just with different parameter.
Can you help to recommend how to easily sol

[2016-09-05 18:47] andrijdavid opened #11 "Nested conversation.ask() don't fire"
Hello,

When i execute this code , the program get stucked on the second recursion of getResponse().
Both  someFunctionWhoGenerateResponse and generateGreeting function return valid string and work perfectly.

`
const bot = new BootBot({
    accessToken: config.get('accessToken'),
    verifyToken: config.get('verifyToken'),
    appSecret: config.get('appSecret')
});

function getResponse(txt, conv

[2016-09-06 17:51] Charca commented on #11
Hey @andrijdavid ,

I don't see anything wrong with the code except there's no way to get out of the `getResponse` loop. If that's the problem then you just need to call `convo.end()` if a certain condition passes instead of calling getResponse again.

If the problem is that the program actually dies when getResponse is called a second time, then it's probably something else. Do you see any errors

[2016-09-06 19:03] Charca commented on #10
Hey @adavid102, thanks so much for the comments!

If I understood correctly, you have a series of buttons with postbacks that differ in some sort of ID or param, and you want to handle all of them with a single function, right? So something like this:

- BUTTON_ID_123
- BUTTON_ID_456
- BUTTON_ID_789

The `.on()` method doesn't accept a regex because of how the EventEmitter class works, but you can

[2016-09-07 05:53] adavid102 commented on #10
Thanks so much for you reply
I tried somethink similar but used bot.on('message', (payload, chat) instead of bot.on('postback', (payload, chat) ..  :-)
Tried your solution and it works.
You're bootbot library is truly amazing.
Saved me probably weeks of work..

[2016-09-07 05:53] #10 closed

[2016-09-09 19:45] JulienLeal opened #12 "Cannot read property 'filter' of undefined"
Sometimes when I send message in messenger, I receive this error

[code]

After that, I receive this error :

[code]

But this second error don't appear everytime.

Actually I'm using ngrok for tunneling it. Do you think that is my problem?  Or is it a bug? Because sometimes I have delay too, both in my project and in your examples.

[2016-09-11 05:19] Charca commented on #12
Hi @JulienLeal, it doesn't seem to be related to using ngrok, so it's probably a bug or an unhandled exception. Do you have a code example of the function call that is generating this error?

[2016-09-12 20:09] JulienLeal commented on #12
Follow my code
[code]

[2016-09-19 19:24] JulienLeal commented on #12
This error appears in this part
[code]

[2016-10-07 18:49] sdc-rafael commented on #3
any advance on this? NLP services intregrations are a must :)

[2016-10-08 10:46] pferdefleisch commented on #3
@sdc-rafael this issue isn't specifically about NLP services. You could solve that with something like this:

[code]

Though it would be nice to have something like microsoft bot framework's [`intentDialog`](https://docs.botframework.com/en-us/node/builder/guides/understanding-natural-language/#handle-intents) but that's for a different issue.

[2016-11-01 16:58] s1lviu opened #14 "Error: Couldn't validate the request signature."
Hi,
Since today, I receive the error in console: `Error: Couldn't validate the request signature.`
<img src="https://i.imgur.com/i5i8AbW.png">
The bot continue to work, but I think that's not good and in my research, I didn't find a solution for this.
Thanks!

[2016-11-03 13:23] kennetham commented on #12
On top of this, how do you call 'quick_replies' location type? I can't seem to pass it in.

Please advise.

[2016-11-07 02:57] Charca commented on #14
Hey @s1lviu, unfortunately I'm not getting this error on my side. Are you getting this message every time your bot sends/receives a message or is it just every once in a while? Also, did you make any changes on the day this started to show up, like upgrading the version of node or things like that?

I'll keep trying to replicate this one my side.

[2016-11-07 05:27] Charca commented on #12
Hey @JulienLeal, sorry for the huge delay I'm just now finding time to properly debug and fix this one and get the framework in better shape.

So this problem was caused by a race condition when a user sent 2 consecutive messages to the bot before the bot has a chance to ask a question.

When a user sends 2 consecutive messages (with less than 1 second between them), the first message starts the c

[2016-11-07 05:28] Charca commented on #12
@kennetham I'm not sure I understand your question. Is it related to this issue or just a general question about quick_replies? If so, could you please specify?

[2016-11-07 13:49] kennetham commented on #12
@Charca I'm asking in general for quick_replies, is there a way to use the quick_replies with location type etc, seems like its accepting text only at the moment.

[2016-11-07 20:32] Charca opened #16 "Add support for content_type: "location" and "image_url" on Quick Replies"
We need to refactor the `_formatQuickReplies` method to support an object with an open format. New types of quick replies format added since we implemented this methods are:

Location:

[code]

Text with Image:

[code]

But more formats will likely be added in the future so we should support whatever object the user sends (or auto-format like we do now if it's a string).

Facebook Docs: https://de

[2016-11-07 20:34] Charca commented on #12
@kennetham I see what you mean now, I wasn't aware of these new Location and Image quick replies, I created #16 for this and I'll work on it later tonight, should be a pretty quick fix. Thanks for reporting it!

[2016-11-08 19:43] s1lviu commented on #14
Now it's working. I think it was from Facebook..
Regards,
Silviu

[2016-11-08 19:43] #14 closed

[2016-11-12 18:17] #16 closed

[2016-11-12 18:18] #9 closed

[2016-11-12 18:24] Charca commented on #12
Just released v1.0.7 that includes fixes for both issues discussed here cc/ @JulienLeal @kennetham

[2016-11-12 18:24] #12 closed

[2016-12-19 16:49] hudgins commented on #11
@Charca I think there's a small bug here that might be related to this issue:

https://github.com/Charca/bootbot/blob/master/lib/Conversation.js#L105

If you synchronously call ask() again inside the listener, your callback is assigned to this.listeningAnswer, but upon return to the above line of code, your newly added listener is thrown away. This was causing a similar issue for me and changing i

[2016-12-21 21:31] Charca commented on #11
Hey @hudgins, thanks for spotting this issue. Feel free to submit a PR and I'll take a look/test it afterwards.

[2017-01-02 07:25] jannavarro opened #18 "Initialize Bootbot without needing app secret [Feature Request]"
It would be good to find a way to do initialize Bootbot without needing app secret. I'm finding a way where I can put my code that uses Bootbot in github.

In Messenger bot [setup](https://developers.facebook.com/docs/graph-api/webhooks#setupget) it says nodejs needs a GET method for Facebook verification. I'm not sure if inside Bootbot constructor we can just setup an app.get('/webhook/', functio

[2017-01-02 09:13] pferdefleisch commented on #18
The way I get around this is to use environmental variables for my secrets, and not committing my secrets file. I have been using this https://github.com/goliatone/envset but there are quite a few alternatives.

The app secret [is very important for security](https://chatbotsmagazine.com/how-to-kill-a-bot-with-10-http-requests-ca7eb57c2ad1#.jf6hjj7hn) and I believe making it optional is a mistake,

[2017-01-03 05:03] jannavarro commented on #18
@pferdefleisch I'll use those options as an alternative. I just raised this issue since other messenger bot tutorials like [this](https://github.com/jw84/messenger-bot-tutorial) does not need app secret. I'm not sure why Bootbot needs the app secret instead of using the sample code I posted in the question. What's the reason why Bootbot needs the app secret while other samples show that we can mak

[2017-01-03 11:00] pferdefleisch commented on #18
@jannavarro
The reason for asking for the app secret is that Facebook signs all of the requests using the payload they send to you hashed with your app secret. This makes it so a bad actor finds your endpoint, they can't just spoof requests, pretending to be Facebook and [as shown in this link](https://chatbotsmagazine.com/how-to-kill-a-bot-with-10-http-requests-ca7eb57c2ad1#.jf6hjj7hn), DOSing yo

[2017-01-08 04:43] jannavarro commented on #18
@pferdefleisch Thanks for the taking the time to explain things. I understand its use now.

[2017-01-08 04:43] #18 closed

[2017-01-27 23:42] valdu02100 opened #19 "convo.ask problem"
[index.js.zip](https://github.com/Charca/bootbot/files/736504/index.js.zip)
Hi !

I'm asking to the user a part of the route name for the bus. After my function LineName_Match search in my database all line of bus with this part and I'm asking to the user to choice one lline, but the bot stop to work without issues or errors.

`				    convo.ask(`Indiquer la ligne désirée :`, (payload, convo) => {

[2017-01-29 11:10] #19 closed

[2017-02-06 04:29] brenohq opened #21 "Doubt about workflow using the bootbot-cli."
Hello, I am a beginner in chatbots development and a friend recommended me the [bootbot](https://github.com/Charca/bootbot) framework, I really liked it! I also found [this CLI](https://github.com/Charca/bootbot-cli), but I am in doubt about how I will develop using it.

I need to run **bootbot start** every time I change a file?
I need to run **bootbot start** together with **nodemon index.js**?

[2017-02-07 18:12] Charca commented on #21
Hey @brenohq, I'm glad you're liking BootBot so far!

To answer your question, you only need to run `bootbot start` once and leave that terminal window open. That command will run `nodemon` under the hood so you don't need to run it yourself. Also, once you created your project and you've setup your webhook URLs once, there's no need to change them. Every time you run `bootbot start` in the same p

[2017-02-08 14:13] MMayla opened #22 "How to see debug messages or logs?"
When I send templates sometimes it didn't show in chat and I don't know what is the reason.

But after a long time trying I discover a syntax error in my template or my elements has more than the maximum allowed elements. This errors are easy to solve but sometimes hard to find.

So is there any logs that I can see? or any debug event?

[2017-02-08 14:47] kebou commented on #22
Hey @MMayla, you can check the error property of the response object, the error codes are listed on this [site](https://developers.facebook.com/docs/messenger-platform/send-api-reference/errors).
See the example below:

[code]

[2017-02-08 16:35] caiolopes opened #23 "Passing arguments"
Hi!!

I have a question about how to pass information from a button event to the the button subscription..

I modified the bootbot source code to work something out, but I would to confirm if there is another way before I make a pull request. It is something like:

[code]

[2017-02-08 18:55] brenohq commented on #21
Thanks for the answer @Charca ! I do not know if this is the best place to ask questions about development, maybe it's better to create a gitter or facebookgroup. There is already a place for it? Thank you so much!

[2017-02-09 23:50] kebou commented on #23
Hey @caiolopes, my workaround is the following:
1. stringify the object that I want to pass as payload
2. subscribe to all postback messages, parse the payload string as JSON and decide the type of the postback

Here is the code with your example:
[code]

[2017-02-10 02:03] caiolopes commented on #23
@kebou nice solution! I think this could be implemented in a native way in the bootbot!

I am just wondering if the list of if statements can get really long, don't you think?

[2017-02-10 16:09] kebou commented on #23
yep, you're right, it would be great to have a similar built in feature, however the code won't be shorter, because subscribing for every specific event or checking the type of the payload with if statements requires nearly the same length of code, but it would be without doubt more consistent.

[2017-02-11 23:45] MMayla commented on #22
@kebou thank you :+1:

[2017-02-13 19:39] Charca commented on #21
Hey @brenohq, I've just created a Slack channel for the group. It's just me for now, but I'll add the link to the README so hopefully more people will join in the future :)

Here's the invite link: https://bootbot.slack.com/shared_invite/MTQwODA0MDU2NDUxLTE0ODcwMTQ1MjgtNTc3MDVhOWRjZQ

[2017-02-15 19:14] UNCVR opened #24 "Persistent menu action during a conversation"
Hi,

From what I understand, bot.on and bot.hear are bypassed during a conversation.
Since callback from persistent menu are handled in bot.hear, how can we handle those events during a conversation ?

[2017-02-17 07:23] Charca commented on #24
Hey @UNCVR,

Thanks for bringing this up, this is an interesting scenario. You're correct, persistent menu callbacks are bypassed during a conversation, so we definitely need to find a solution for this.

I'm thinking we could identify which postbacks belong to a persistent menu button and make sure we execute their callbacks _even if_ we're in the middle of a conversation. The only problem that I

[2017-02-17 07:54] Charca commented on #23
I like this idea, I can see the use for something like this, and there's definitely room to implement it, we could use the `data` param that is currently not implemented for postback events.

I'm thinking we could establish a pattern for arguments (I like the `:` as a separator) and send them back to the callback in the `data` object:

[code]

We could even have named arguments so `data.args` beco

[2017-02-19 05:48] andrijdavid commented on #11
Thanks @hudgins.

2016-12-22 1:01 GMT+03:30 Maxi Ferreira <notifications@github.com<mailto:notifications@github.com>>:

Hey @hudgins<https://github.com/hudgins>, thanks for spotting this issue. Feel free to submit a PR and I'll take a look/test it afterwards.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/Charca/bootbot/issu

[2017-02-20 14:09] tmwd opened #25 "convo.ask problem"
It's not holding the flow

[2017-02-20 16:01] #25 closed

[2017-02-22 16:53] #21 closed

[2017-02-23 23:32] caiolopes commented on #23
@Charca I liked your suggestion but I think it is easier and transparent for someone using the project pass an object instead of having to follow some unusual pattern.

I don't think the limit of characters is gonna be a problem since it is not meant to pass too much data. For example, in my case, I used only for passing ids so I could search in the database for information, etc.

In that case, I

[2017-02-23 23:39] Charca commented on #23
@caiolopes I agree. So just to make sure we're on the same page, we're talking about something on the lines of:

[code]

Correct?

[2017-02-23 23:43] caiolopes commented on #23
@Charca Yes, exactly! Can I try to implement this and make a PR?

[2017-02-23 23:58] Charca commented on #23
@caiolopes absolutely, go ahead!

[2017-02-24 00:17] kebou commented on #23
Hey guys, I really like the idea, it will be great!

@caiolopes  let me share with you this code snippet (what I found earlier), maybe it can help you during the JSON validation/parsing, because separate a string from a stringified object is harder than it seems.

[code]

Good luck!

[2017-02-24 07:03] Charca commented on #22
FYI @MMayla and @kebou, I've just added a generic error message when Facebook responds with the `error` node so you don't have to manually debug it. Thanks for the suggestion!

![ErrorMsg](http://c.hlp.sc/3l2h2u3w0p16/Image%202017-02-23%20at%2011.01.28%20PM.png)

[2017-02-24 07:03] #22 closed

[2017-02-24 07:05] Charca commented on #2
It's been a few months. This actually does not fail anymore, but there are some other errors that do, so I've added a catch-all error messages that logs to the console when there's an `error` node in the response. See #22

[2017-02-24 07:05] #2 closed

[2017-02-24 22:11] deonisnov commented on #23
Hi guys. I think that also worth implement support of regexp parameters of postback events as at bot.hear().
I look forward to a solution of this issue.
P.S Charca, thank you for awesome and lightweight lib. You rock :)

[2017-03-02 18:54] Charca opened #26 "Support v1.4 new features"
Messenger Platform 1.4 is out today with a lot of juicy new updates!

Make sure we support all of them: https://messengerblog.com/platform-updates/messenger-platform-1-4-brings-even-more-tools-to-build-great-experiences/

[2017-03-04 06:55] Ltty commented on #26
Do you already have a timeline for the updated API?

[2017-03-17 04:38] Charca opened #28 "Add `sendListTemplate` method"
Support for List Template ([docs](https://developers.facebook.com/docs/messenger-platform/send-api-reference/list-template))

Could be a copy of `sendGenericTemplate` that in addition to `elements`, also support `top_element_style` and `buttons` props.

[2017-03-17 04:51] Charca commented on #26
Hey @Ltty, thanks again for your contribution. Your PR takes care of all updates for the new Messenger Profile API, so after we merge that, we should be good to go!

The only new feature we need to support is the `image_aspect_ratio` prop in `sendGenericTemplate()` ([docs](https://developers.facebook.com/docs/messenger-platform/send-api-reference/generic-template#payload)). I can take care of that

[2017-03-18 07:47] cAstraea commented on #4
Can someone explain what should be at example.com/oauth/authorize ? Been having a go at this for the past week. Kinda tried to make a backend with express and passport and passport-facebook and it semi works but I don't know where or how to redirect back to the bot.  There's lots of missing elements and couldn't find a concrete example or tutorial anywhere online.

For example in here what would t

[2017-03-23 13:58] tmwd commented on #26
What about referral param?
https://developers.facebook.com/docs/messenger-platform/referral-params
Maybe it could be handful to have an emitter for that?

[2017-03-25 20:21] rohit-takhar commented on #23
Hi everyone,
As @deonisnov  mentioned, I also need support of regexp parameters of postback events as at bot.hear().. Can somebody explain a way out?

Thanks,
Rohit

[2017-03-27 20:32] Charca commented on #23
PRs are welcome. If no one is able to take this one I'll grab it after I'm done with the currently open PRs (hopefully tonight or tomorrow).

[2017-03-28 05:24] Charca commented on #28
Added in v1.0.10: https://github.com/Charca/bootbot/compare/v1.0.9...v1.0.10

[2017-03-28 05:24] #28 closed

[2017-03-28 05:24] Charca commented on #11
Fixed in v1.0.10: https://github.com/Charca/bootbot/compare/v1.0.9...v1.0.10

[2017-03-28 05:24] #11 closed

[2017-03-28 05:37] Charca commented on #26
@tmwd I've added support for the referral event in https://github.com/Charca/bootbot/commit/df179c55a10596c646188131d5c001ea3993150d

Once we merge @Ltty's PR we'll be able to close this issue.

[2017-03-28 09:29] pferdefleisch commented on #24
I think you need to work out some use cases here, real scenarios.
I feel like if you started a second conversation, that in most cases that I can think of, it would be fine to drop the first conversation on the floor.

But it depends on how you're handling your conversations. If you're handling then from "What does this user look like in the database?" then dropping the original convo would be fin

[2017-03-28 09:31] pferdefleisch commented on #3
What do you think about closing this one @Charca? Last comment in October and there is a workaround/fix.

[2017-04-02 11:50] sotirelisc commented on #24
Any updates on when this might be implemented? As the bot grows, the need to "hear" persistent menu postbacks when in any conversation, increases. :D

[2017-04-04 14:03] Charca commented on #24
Alright, I've been thinking about this and I think I have a pretty solid idea of what we should do in this case. As @pferdefleisch mentioned, we should think about real use cases where this might become a problem for the two possible scenarios (always considering that the user was in the middle of a conversation and at some point, clicked on a menu item):

1. Menu item starts a new conversation.
2

[2017-04-04 14:06] Charca commented on #3
Yep, I'm going to close this one. Thanks everyone for the comments and the workaround!

[2017-04-04 14:06] #3 closed

[2017-04-04 19:32] sotirelisc commented on #24
I agree that it should end the current conversation but it should be designed to listen to specific persistent menu items. I was thinking an item like "Cancel Conversation" that would help the user cancel at anytime.

[2017-04-04 22:33] Charca commented on #24
@sotirelisc do you mean manually ending the conversation with a "Cancel Conversation" item in the Persistent Menu? I was thinking that ANY persistent menu item should end the current conversation before doing whatever it is the menu item does.

Also, the persistent menu is a single instance that is shared across all users, so you won't be able to update it depending on whether the user is in a con

[2017-04-05 17:47] sotirelisc commented on #24
@Charca, I was thinking that the "Cancel Conversation" item will be always there but it would function only if there is an active conversation.
Making every item ending a conversation seems dangerous to me, as a user could accidentally press it.

[2017-04-06 12:33] pferdefleisch commented on #24
This is a UX issue. A user doesn't know they are in a "Conversation". They are just chatting with a bot.

[2017-04-06 16:53] Charca opened #31 "Add Support for Tags"
https://developers.facebook.com/docs/messenger-platform/send-api-reference/tags/

- `SHIPPING_UPDATE`
- `RESERVATION_UPDATE`
- `ISSUE_RESOLUTION`

Only Generic Templates and Text Messages support tags for now.

[2017-04-06 19:56] sotirelisc commented on #24
@pferdefleisch, yes, but they probably know they are inside an ordering process. They know that they have started something that sometime in the future will end.

[2017-04-10 07:37] deepakmhr opened #32 "How can we integrate NLP with this framework ?"
I want to integrate LUIS with this framework, Is there any way to integrate NLP ?

[2017-04-10 12:53] Obadh opened #33 "Postback doesn't work for example in your example (threads-example.js) it should give you saying response if you click on help or sittings but it didn't"
`bot.setPersistentMenu([
  {
    type: 'postback',
    title: 'Help',
    payload: 'PERSISTENT_MENU_HELP'
  },
  {
    type: 'postback',
    title: 'Settings',
    payload: 'PERSISTENT_MENU_SETTINGS'
  },
  {
    type: 'web_url',
    title: 'Go to Website',
    url: 'http://yostik.io'
  }
]);

bot.on('postback:PERSISTENT_MENU_HELP', (payload, chat) => {
  chat.say(`I'm here to help!`);
});

bot.on

[2017-04-10 12:55] Obadh opened #34 "setGetStartedButton doesn't work?"

[2017-04-10 13:49] pferdefleisch commented on #32
A few suggestions:

- LUIS works out of the box with microsoft bot framework. You could use that instead of bootbot
- Instead of LUIS, you could use [wit.ai](https://wit.ai) and this client [BeepBoopHQ/witbot](https://github.com/BeepBoopHQ/witbot)
- You could read the source of witbot and build your own LUIS client for bootbot
- you can write express middlewares for bootbot and you may be able to

[2017-04-10 15:22] jcolfej commented on #34
It's work :)

Try :
`  bot.setGetStartedButton((payload, chat) => {
    chat.getUserProfile().then((user) => {
      chat.say(`Hello ${user.first_name} !`);
    });
  });`

[2017-04-11 10:05] Obadh commented on #34
thanks , yes it's working now.

[2017-04-12 04:52] #34 closed

[2017-04-12 09:05] xJeremie opened #35 "[Question] Difference between bootbot and botkit"
I planning to develop new bot, but I'm confused between using `bootbot` and `botkit`. Can you tell me the difference between 2 frameworks, so I can confident invest time on it?

[2017-04-12 11:48] pferdefleisch commented on #35
I started using bootbot because it is Messenger focussed, which I am too.
There is some nice sugar for using Messenger [see methods from here on](https://github.com/Charca/bootbot#sendtextmessage).

Botkit is multi-platform, but you give a lot of these niceties up. The examples for using Messenger aren't great and it feels like a second class citizen compared to Slack. But if you want a multi-plat

[2017-04-12 13:38] tmwd commented on #26
@Charca
Well, refs is not firing, this what I have instead:
"Webhook received unknown event:"

[2017-04-12 13:53] tmwd commented on #26
@Charca
Since there is no way handle event if its not in the release, maybe it will be useful to have default handler for unknown events?

[2017-04-13 16:40] Charca commented on #26
@tmwd I've just published v1.0.11 that should give you the ability to listen for the referral event with `bot.on('referral', callback)`.

As for the generic "catch-all" handler for unknown events, I'd prefer to keep it controlled for now. I wouldn't like people to use this event for new features and never switching to the actual event when the framework adds support for it. Also this event wouldn'

[2017-04-14 03:35] Charca commented on #33
Hey @Obadh, are you getting any errors when trying to use this example? I just tested it and it seems to be working correctly for me: http://c.hlp.sc/3S2C0J2z1w3W

[2017-04-14 03:47] Charca opened #36 "Add Support for `notification_type`"
Docs: https://developers.facebook.com/docs/messenger-platform/send-api-reference

I don't know when this was added but there's a `notification_type` attribute in the payload object that can be set to `REGULAR`, `SILENT_PUSH` or `NO_PUSH`. I think we should add this to the `options` object of the Send API method.s

[2017-04-14 03:56] Charca commented on #35
Hey @xJeremie,

Just to add a bit more info to @pferdefleisch's great explanation, in terms of framework capabilities there's not a big difference between the two (except that BootBot only works with Messenger, of course). You'll be able to accomplish anything you want to do with your bot no matter which framework you choose; I just think that BootBot's API is cleaner and easier to maintain, but t

[2017-04-14 03:56] #35 closed

[2017-04-14 18:01] Charca commented on #26
v1.0.12 released with full support for Messenger v1.4: https://github.com/Charca/bootbot/releases/tag/v1.0.12

[2017-04-14 18:01] #26 closed

[2017-04-14 20:17] sotirelisc opened #37 "Persistent menu: Invalid keys "call_to_actions" were found in param "call_to_actions[0]""
The example (and another nested persistent menu that I tried) gives the above error or a similar one. The implementation may be correct but I cannot seem to find the right way to use the new menu, right now. :P

[2017-04-14 22:38] Charca commented on #37
Hey @sotirelisc, have you updated bootbot to the latest version (1.0.12)? Can you paste the example that is giving you this error?

[2017-04-15 06:47] sotirelisc commented on #37
@Charca, I used the exact example from the examples directory.

[2017-04-15 19:12] Charca commented on #37
@sotirelisc, I just checked and you'll get this error if you try to use the example with a bootbot version prior to 1.0.12, please update with `npm install bootbot --save` if you want to use this feature.

[2017-04-18 08:27] #33 closed

[2017-04-18 13:18] sotirelisc commented on #37
@Charca, are you sure? I have it updated (also on Heroku) but it still gives me the same error.

[2017-04-18 13:24] pferdefleisch commented on #37
Do you have a stack trace @sotirelisc?

[2017-04-18 13:28] sotirelisc commented on #37
No stack trace just this:

[code]

[2017-04-18 21:54] Charca commented on #37
I'll re-open this issue while we investigate. @sotirelisc can you check that the `package.json` file in your `node_modules/bootbot/` folder has the correct version number? It should look like this:

![img](https://d3vv6lp55qjaqc.cloudfront.net/items/3C462h1H2B1Z2o471T11/Image%202017-04-18%20at%202.53.34%20PM.public.png?v=54ae89ca)

[2017-04-19 06:11] sotirelisc commented on #37
Oh, it seems that neither "npm update" nor "install" worked for some reason and kept an earlier version of BootBot. I manually changed the `package.json` and now it works! Thank you and sorry!

[2017-04-19 07:50] #37 closed

[2017-04-21 07:47] sotirelisc commented on #24
@Charca, any ideas on this one?

[2017-04-21 08:08] pferdefleisch commented on #24
IMO, a menu button push should end any current conversation.
This means: If you are building an app with conversations and a menu, you would have to hold more state in your data store and handle where your conversation is when new conversations are started.

This seems like a fair tradeoff to me because I believe this issue really is a bug.

A practical example:
[code]

Cheers

[2017-04-21 08:17] sotirelisc commented on #24
In my case, I'm building an ordering bot. I can't have users canceling a whole order just because they hit an item of the persistent menu. However, if for any reason the bot becomes unresponsive during the ordering proccess, a canceling option in the persistent menu, would be great.

[2017-04-21 08:25] pferdefleisch commented on #24
I imagine you would keep your order state somewhere so you wouldn't have to drop your order on the floor. You would just need to do something like check if there is an open order after each menu or other out of bound response and give the user an option to continue the order:

[code]

[2017-04-21 08:28] pferdefleisch commented on #24
I think this is a fair tradeoff, allows flexibility and won't add a bunch of complexity to the codebase. It probably only needs a "Is this a menu (out of bound) postback? Ok: Deal with it. No: Are we in a conversation? Yes: handle conversation. No: Send to hear's...
One added check.

[2017-04-21 08:31] sotirelisc commented on #24
@pferdefleisch, hmm.. Yes, sounds like a legit solution.

[2017-04-25 18:01] ProfNandaa opened #38 "BootBot.js: TypeError: Cannot read property 'forEach' of undefined"
**`tag: needs-investigation`**

Once in awhile, I get this error in my logs, but I can't seem to find the cause:
[code]

I'll update if I get it.

[2017-04-27 11:55] MMayla opened #39 "How to trigger an event programmatically ?"
Let's say I have an event like this
[code]
how to trigger this event when for example the user says "help"
[code]

[2017-04-27 15:32] pferdefleisch commented on #39
I would extract it to a function

[code]

[2017-04-27 20:21] MMayla commented on #23
Is facebook has maximum allowed length for the payload?

[2017-04-27 22:03] MMayla commented on #23
I just tested it out the maximum length of the payload is 1000.
and facebook return an error with code 100
[code]

[2017-04-27 22:06] MMayla commented on #39
Thanks @pferdefleisch
But is there any other way to trigger the postback event?

[2017-04-28 11:24] jokamjohn opened #40 "Add other webhooks"
I am trying to use the api.ai webhook but i am getting an error.

Error: Couldn't validate the request signature.
    at BootBot._verifyRequestSignature (F:\Bot\Plan_Arvana\node_modules\bootbot\lib\BootBot.js:445:13)
    at F:\Bot\Plan_Arvana\node_modules\body-parser\lib\read.js:100:9
    at invokeCallback (F:\Bot\Plan_Arvana\node_modules\raw-body\index.js:262:16)
    at done (F:\Bot\Plan_Arvana\n

[2017-04-28 13:18] pferdefleisch commented on #40
What api.ai webhook are you talking about?
bootbot only accepts webhook requests from facebook. bootbot is telling you that the verify signature of whatever is sending bootbot the message at its webhook is incorrect. Facebook hashes the body of the message they send together with your messenger bot's facebook app secret.
Here's the code in bootbot: https://github.com/Charca/bootbot/blob/master/lib

[2017-04-29 22:32] michaelreda commented on #24
any suggestions/modifications on how to break the old conversation out (and not completing it) and start a new one when a menu button is clicked ? @Charca

[2017-04-30 10:39] jokamjohn commented on #40
Thank you.

[2017-04-30 10:39] #40 closed

[2017-05-01 18:34] giacomocerquone commented on #24
And here is why my bot was acting very strange. I was experiencing this problem with my bot.
I'm going to explain my scenario:
I have this bot and I want users to write tv shows to him in order to return some information about these shows. The point is that if I write and send a tv shows and it returns the information, then if I hit a menu button (that could be, "help" or "trending tv shows") it w

[2017-05-01 18:36] Charca commented on #39
@MMayla the bot object is an instance of Node's EventEmitter, so if you want to trigger an event you can call `bot.emit('postback:HELP', payload, chat, other, params)'`.

[2017-05-02 10:54] MMayla commented on #39
Thanks @Charca

[2017-05-02 18:19] #39 closed

[2017-05-03 13:44] giacomocerquone opened #41 "Persistent menu problem"
Hi there! I wrote a comment on the issue #24 thinking that my problem had some sort of connection with that bug but I was wrong.
Randomly whenever it wants, my app won't respond to any persistent menu button even for hours sometime, but will work on bot.on('message') callback.

My app is hosted on heroku and it seems that the problem doesn't respond to any logic, it happens really in a random way,

[2017-05-04 13:54] sotirelisc commented on #41
Hello, I've been having the same issue for some days now and been struggling to find a legit reason. The only way to correct it is to delete the conversation on Messenger and start all over. It's okay for me, but I can't have my users do it every time. Maybe it's a Facebook problem?

[2017-05-04 13:58] giacomocerquone commented on #41
Yeah I thought it too, but as I said other bots don't have this problem so I don't know...
You have the app deployed on heroku too?

[2017-05-07 08:17] sotirelisc commented on #41
@giacomocerquone, sorry for the late response. Yes, it's on Heroku.

[2017-05-07 09:13] pferdefleisch commented on #41
I also had a strange issue where my persistent menu postbacks weren't being captured. I was running an ngrok local tunnel.
I couldn't even catch them on `bot.on("postback", (payload, chat) => {`

I finally fixed it by copy pasting a @Charca's sample menu code. This means that either:
- I had a typo (but there were three keywords that could have been misspelled, all short and I looked at them 20 ti

[2017-05-07 09:17] pferdefleisch commented on #41
In response to your ps., you may just be subscribed to a bunch of different callbacks.
The two most interesting ones for most bots would be `message` and `message_postbacks`. You set them up in your app settings under Messenger / Settings / Webhooks / Edit events.
https://developers.facebook.com/docs/messenger-platform/webhook-reference#setup

[2017-05-07 17:22] giacomocerquone commented on #41
Correct for the subscription to different callbacks set up on developers.facebook.com.

Regarding the main issue here, thanks for your contribution! I actually forgot to post the code but I did subscribed to `bot.on("postback", (payload, chat) => {` too (and used a regex inside) but our problems are not actually the same.
If I understood correctly, in your situation no callback was being called wh

[2017-05-07 18:18] sotirelisc commented on #41
@giacomocerquone, I will try to run some tests, too. I'm afraid Heroku has something to do with this. Free sleeping dyno, right?

[2017-05-07 20:32] giacomocerquone commented on #41
@sotirelisc Right

[2017-05-09 09:41] sotirelisc commented on #41
@giacomocerquone, do you have nested persistent menu items? If so, can you verify that the issue exists only at the non-nested items?

[2017-05-09 09:42] giacomocerquone commented on #41
My persistent menu is not nested!
Ps. sorry If I still haven't tested anything but I'm very very busy lately

[2017-05-09 11:13] sotirelisc commented on #41
@giacomocerquone, when you find time, try adding a nested item. Check if the problem doesn't exist there.

[2017-05-10 08:39] pferdefleisch commented on #41
Are you folks sure you're following this?
<img width="715" alt="persistent_menu_-_messenger_platform" src="https://cloud.githubusercontent.com/assets/175984/25890170/e2c5fb94-356c-11e7-8330-96675a6603ed.png">

[2017-05-10 08:57] giacomocerquone commented on #41
Yes, I read it and I've always used the button like this:
`bot.setGetStartedButton((payload, chat) => {
  chat.say('Welcome to BootBot. What are you looking for?');
});`

[2017-05-10 12:02] pferdefleisch commented on #41
I am using a persistent menu in a different application in a different language and I rolled the response handlers without a framework and I am not receiving postbacks from the persistent menu. Not even to my local tunnel.

I don't know if your issue is a facebook bug, but my previous issue and current one definitely are facebook bugs. :/

[2017-05-10 12:12] pferdefleisch commented on #41
Try to delete the conversation in your messenger client.
My persistent menu postbacks started working after I did that. Very unsatisfying fix.

[2017-05-12 11:36] sotirelisc commented on #41
@pferdefleisch, so you're saying this is more likely a Facebook issue?

[2017-05-12 12:26] pferdefleisch commented on #41
Yes. I think it is most likely a Facebook issue. With the fixes being:

- Make sure you add a get started button before your menu
- Delete the conversation with the bot and reconnect with it
- Do this from the page, not https://m.me or your app
- Try to delete the menu with [deletePersistentMenu](https://github.com/Charca/bootbot#deletepersistentmenu) and add it back again. Probably do this with g

[2017-05-12 13:18] sotirelisc commented on #41
@pferdefleisch, I know that deleting the conversation fixes it, but in case of real users using the bot, you understand that this is not a solution.

[2017-05-12 13:24] pferdefleisch commented on #41
I haven't run into this on something in the wild so, if it is a Facebook bug, I don't know how making it work on one conversation would affect other conversation with other users. This is all speculation. I have only run into this in a staging/dev environment luckily so that's as far as my experience goes.

Maybe I was overly optimistic when I wrote "fixes". What I meant was "This is what I have d

[2017-05-15 11:48] Jimlnth commented on #41
I don't know for sure, but it seems to me that this problem could be related to Convo. On some bots I created previously without any conversation (by using Convo I mean), the menu buttons are working perfectly fine. In the bot I'm working on atm, I used the conversations and I have the same problem that @giacomocerquone described. Are you in the same case or am I misled ?

Besides, I observed some

[2017-05-15 11:58] pferdefleisch commented on #41
@Jimlnth I've had issues, even without using conversations and even in another framework I'm working on in another language.

Maybe what you're referring to is related to https://github.com/Charca/bootbot/issues/24

I would much rather it be a bootbot bug though, because then we could fix it, so any more info you have, steps, etc, would be greatly appreciated.

[2017-05-15 12:11] Jimlnth commented on #41
Well, could be. I doubt it because in my case the buttons are not working even before I start a conversation (given that I changed the code without refreshing the page) and because I am not even trying to use the menu buttons **during** a conversation but rather before or after.

As I said, besides my feedback I don't have a lot more to say. My previous bots were built on the same environment and

[2017-05-17 15:35] MMayla opened #42 "How to communicate with different pages with the same app"
I want to make generic bot the can communicate with different pages knowing from which page the message received and response to the user in that specific page.

For knowing which page I think It can be done easily from the recipient attribute like this
[code]
But in the first place BootBot accept only one `page access token`

[code]

What is the best way to accomplish such thing? How to accept me

[2017-05-22 10:47] ar1kumar opened #43 "setGetStartedButton doesn't work on mobile app anymore(latest update)"
Hey,
Starting last week, the "Get Started" button function doesn't work on mobile app. Any solution?

[2017-05-22 12:02] ar1kumar commented on #43
Sorry, it was a permission issue at my end. Closing the issue.

[2017-05-22 12:02] #43 closed

[2017-05-22 15:28] sotirelisc commented on #41
@Charca, have you not been around lately?

[2017-05-23 06:34] Charca commented on #41
Sorry folks, I'm in the middle of moving to another country and I couldn't really follow up with the issues. I've been following this convo and it was my understanding that this was a problem with Facebook's Webhook API, right? It doesn't seem to be the same thing as #24 (which is an actual Bootbot bug).

[2017-05-23 08:53] pferdefleisch commented on #42
Bootbot makes some assumptions that will make your usecase difficult as the codebase stands.

The simplest way I could think to do this is to create your own express endpoint and two bots, then proxy the request to the correct bot after checking for the recipient id, like you show above. The problem is that, at the moment:

- bootbot [hardcodes the webhook path](https://github.com/Charca/bootbot/b

[2017-05-23 18:12] MMayla opened #44 "postback while in conversation do nothing"
Currently, when a user clicks on a button the bot doesn't respond on the first time, the user should click twice to execute the postback action
[code]

How to close the conversation and execute the postback function when a user clicks on a button?
[code]

[2017-05-23 18:56] MMayla commented on #42
@pferdefleisch this works fine with me

[2017-05-24 20:50] pferdefleisch commented on #44
It sounds like you're talking about the persistent menu. If so, there is already an open issue here https://github.com/Charca/bootbot/issues/24. If not, can you explain where the About button is in your example.

[2017-05-24 21:46] MMayla commented on #44
A button in a generic template

[2017-05-24 22:04] sotirelisc commented on #41
@Charca, it's still not certain that it is 100% a Facebook issue. Personally, I haven't come across this problem in other bots. As I stated before, in my case, it doesn't happen on nested persistent menu items, only on the standalones.

[2017-05-24 22:21] tmwd opened #45 "Attachment cache"
https://developers.facebook.com/docs/messenger-platform/send-api-reference/attachment-upload
"is_reusable":true

[2017-05-27 07:28] tmwd commented on #24
Have someone spoke to fb support or created a ticket for them?
If yes, share the link, pls, I would like to subscribe.

[2017-05-28 18:18] tmwd commented on #24
@michaelreda
Try to catch actions in callbacks and do your stuff there, since Bot is an EventEmitter instance you can use power of 'emit' or even use (not)private methods like _handleEvent.
In my case I use convo.end(), but I think you can just skip it.
[code]
[https://github.com/Charca/bootbot/blob/master/lib/BootBot.js#L314](url)

You can get new Chat inst. in handler/listener for that event-typ

[2017-05-28 19:12] tmwd commented on #42
Would it be easier if we refactor code to make possible to pass the 'route' param to each Bot instance?
Alike:
[code]
So each instance could listen their own route for webhooks.

[2017-05-29 09:26] tmwd commented on #44
@MMayla
https://github.com/Charca/bootbot/issues/24#issuecomment-304531140

[2017-05-30 09:34] sotirelisc commented on #41
An easy workaround I found: Make every item on your persistent menu nested. Tested and works!

[2017-05-30 18:24] giacomocerquone commented on #41
@sotirelisc if this is true then it's likely a bootbot problem (and I hope so honestly, I don't know how much time it would take for facebook developers to fix it)

[2017-05-30 19:01] tmwd opened #46 "Conversation: multiple answers"
I faced with problem that users sometimes answers to same question in few messages.
Any ideas how to workaround this?

[2017-06-01 10:37] pferdefleisch commented on #41
@giacomocerquone that's quite a jump in logic.

I'll be working on bots quite a bit more in the near future and I'll try to add something to at least make this easier to debug. I am still really leaning on this being a Facebook issue. Was just talking to a friend who built a bot for Pioneers fest that is having a ton of persistent menu problems. He was making the same arguments as @sotirelisc [her

[2017-06-01 13:09] tmwd commented on #41
@pferdefleisch
It is a facebook [issue](https://developers.facebook.com/bugs/131431874088216), lots of bots affected.

[2017-06-05 12:09] ar1kumar opened #47 "Closing webview and resuming the conversation"
Hey,

I have a simple webview that lets the user to pick date and time, but once the user selects it I want to close the webview, pass the data back to the conversation and continue from where we left.

Is it possible?

[2017-06-06 08:02] ar1kumar commented on #47
Would appreciate any help on this.

Anyone?

[2017-06-06 13:39] Robophil commented on #42
that would be really nice @tmwd

[2017-06-07 21:24] Kamalnrf opened #48 "Signature validation error."
I want my bot to accept HTTP requests as well so for now what I'm doing something like this

`bot.app.get('/', (req, res) => {
        //Some other stuff
    });`

Now when I'm trying to do POST request with JSON data I was getting "Couldn't validate the request signature." error so for this I had to remove the middleware.

`bot.app._router.stack = bot.app._router.stack.slice(0,2)`

What I propose

[2017-06-09 19:20] aramiscubillo opened #49 "composer_input_disabled not working"
Hi, I'm trying to disable user input in my bot, but it doesn't seams to work. Here is my persistent menu setup code:

[code]

All the bot interaction will be made with quickreplies and the persistent menu to set the language.

Regards

[2017-06-10 09:37] Robophil opened #50 "wit.ai"
Hi,
I think it would be great if there was an example for integrating wit.ai with **bootbot**, among other **nlp** service providers out there. Since ultimately most users would want to do more that give straight hard-coded responses from their bot. This would totally speed up things when you working with **bootbot**.
This is not entirely not limiting to **wit**, but **luis** and others out there

[2017-06-10 09:57] pferdefleisch commented on #50
FWIW, you could integrate this https://github.com/BeepBoopHQ/witbot.
I can't vouch for it (I've never used it) but it's just a simple wrapper around the node-wit client and you can read and understand the integration code in a short period of time.
Documentation is also pretty good.

[2017-06-10 11:53] Robophil commented on #50
thanks @pferdefleisch I'll give it a look.

[2017-06-12 04:55] DaniyalGeek opened #51 "how can i send message to specific user by userId ?"

[2017-06-12 06:13] pferdefleisch commented on #51
Look at the example here
https://github.com/Charca/bootbot/blob/master/README.md#send-api

[2017-06-12 06:39] #51 closed

[2017-06-12 08:28] ar1kumar commented on #51
oh please, read the documentation before opening an issue.

[2017-06-13 11:20] #50 closed

[2017-06-18 18:54] MMayla commented on #44
Thanks @tmwd
I have found a better way to catch all postbacks without rewriting all of the postbacks names
[code]

[2017-06-21 08:33] pferdefleisch commented on #24
This solution is a hack (calling a "private" method) which works currently but relies on private implementation details that could change at any time.

There is a place to hook into this, and the framework already does it for postback buttons that are created with a string. The framework sets `"BOOTBOT_"+buttonName.toUpperCase()` on these buttons postbacks.
This same functionality could be hooked

[2017-06-21 08:34] pferdefleisch commented on #44
@MMayla https://github.com/Charca/bootbot/issues/24#issuecomment-310007404

[2017-06-25 10:02] awitherow opened #56 "clarification on where to get app developer keys"
I have made an app project on Facebook and am only seemingly able to find an `App Secret` and an `App ID`.

I still do not know where to find the following

1. `access_token`
2. `verify_token`

I know this is not a product feature of Bootbot but rather of Facebook... but I was not able to find this information in their documentation.

It would be really helpful to include pointers/directions in th

[2017-06-26 16:00] johannpinson commented on #56
Hi @awitherow

This is some help : https://developers.facebook.com/docs/messenger-platform/guides/quick-start

The `verify_token` is created by yourself (a string with at least around 50 characters) and asked on facebook in the step 2, when you setup the webhook

For the `access_token`, facebook give it to you in the step 3, when you generate the token for the page who will receive the bot.

Hope

[2017-06-26 17:06] awitherow commented on #56
Thanks @johannpinson ! It took some digging around to figure it out. Would be great to have what you just explained as a PR in the setup part.

[2017-07-04 23:15] Charca commented on #56
Thanks for the suggestion! I've added a note to the getting started guide in the README file that links to Facebook's guide and to this issue.

[2017-07-04 23:15] #56 closed

[2017-07-05 09:35] awitherow commented on #56
Awesome @Charca thanks man.

[2017-07-05 11:58] ticatagdev opened #57 "quick_replies feature"
Is quick replies feature available with this SDK ?

[2017-07-05 12:25] mraaroncruz commented on #57
You can use the [`sendTextMessage`](https://github.com/Charca/bootbot#sendtextmessage) method on your bot as the second argument.

[code]

[2017-07-06 09:21] mraaroncruz opened #58 "Slack channel invite link in readme is dead"
It's dead 💀

[2017-07-07 00:09] Charca commented on #58
Haha, I think it's been dead for a while. I'll update it.

[2017-07-07 14:20] Charca commented on #58
Link updated ⬆️

[2017-07-07 14:20] #58 closed

[2017-07-07 14:29] Charca commented on #57
@ticatagdev you can also use it with the `.say()` method like:

[code]

[2017-07-07 14:29] #57 closed

[2017-07-10 08:35] ticatagdev opened #59 "Domain white list configuration ?"
How to configure white list configuration ?

[2017-07-10 10:28] mraaroncruz commented on #59
You can use the [`sendProfileRequest`](https://github.com/Charca/bootbot/blob/master/lib/BootBot.js#L168-L170) method on your bot.

[code]

[2017-07-10 18:58] Charca opened #60 "Are you using BootBot in production?"
Hey folks,

I'm planning on adding a section to the repo's documentation featuring bots built using BootBot that are already in production for people to try out. I just found out that the amazing Game of Thrones chatbot [GoTBot](https://www.messenger.com/t/G0TB0T) uses this framework, and I thought it'd be pretty cool to showcase other users.

So if you have a chatbot built with BootBot that you'd

[2017-07-17 14:27] hitamu opened #61 "Error: The parameter user_id is required"
Hi,
I'm using `bot` with `conversation` as bellow
[code]
Then I faced this kind of error.
[code]
When I query by this url via browser I got a message from response of FB
[code]
It's seem like `chat` or `convo` which I used was missing recipient_id (user_id).
I can explicit pass it by using only `bot.say(userId, ...)` but it's inconvenience.

Thanks in advance.

[2017-07-20 02:57] hitamu commented on #61
@mraaroncruz Thanks for your comment. Your question pointed me out.

I did a mistake when try to call request via browser, it's a GET method (from browser) that why I get the second error.

Maybe the first error caused by network problem and I cannot reproduce it.
Anyway, thank you.

[2017-07-20 02:57] #61 closed

[2017-07-20 10:23] Drag0s commented on #32
Any suggestion for API.AI?

[2017-07-23 11:36] peterokwara opened #62 "Trouble uploading code to heroku"
Whenever I try to upload this code to heroku I get this error

Error R10 (Boot timeout) -> Web process failed to bind to $PORT within 60 seconds of launch

I solved this problem by changing this line of code from BootBot.js  (line 25)
this.app.set('port', port || 5000)

to this
this.app.set('port', process.env.PORT || 5000)

then it work like magic, because now heroku will be able to bind to it

[2017-07-23 12:24] mraaroncruz commented on #62
Is this a question or are you just sharing an experience you had with heroku?
If the latter, you could add a small section on heroku deployment to the readme.

This is just how heroku works as they need to set a dynamic port for each Dyno deployment. And they consider env vars the most flexible way to do this.

[2017-07-23 12:28] peterokwara commented on #62
It's an experience. I think your idea of adding the small section on deployment to heroku would work

[2017-07-23 14:33] peterokwara commented on #62
It's an experience. I think your idea of adding the small section on deployment to heroku would work

[2017-07-23 14:33] #62 closed

[2017-07-27 11:09] Jimlnth commented on #60
I'm working this way and I plan to use in production.

Something important that crossed my mind though in this case is Cluster. That would be really an added value to have the opportunity to use Cluster in a production environment. I'm not sure if it's really necessary in the case of a messenger chatbot but currently it's pretty hard to include Cluster in BootBot.

[2017-07-30 20:12] justinglibert opened #63 "Send "push notification" message"
Hello everyone,
I would like to know how I could send a message to an user **without** waiting for him to message the bot
It's basically like a push notification on mobile
Can you do that with this framework? And if you can't how could I implement it?

Thank you for your time
Justin

[2017-08-01 15:06] hkalexling commented on #38
I was having the same issue. The problem is [here](https://github.com/Charca/bootbot/blob/master/lib/BootBot.js#L410):

[code]

For some reasons, the `entry` object from the webhook may not contain the `messaging` property and thus trigger the error. Simply editing the source code to make sure the `messaging` property exists works for me.

[code]

[2017-08-11 14:48] mraaroncruz commented on #59
@Charca I think you can close this one

[2017-08-11 16:36] #59 closed

[2017-08-12 15:02] sotirelisc commented on #60
I've recently published my personal CV bot made with BootBot. You can talk to it at: https://m.me/thecvbot

However, I'm a bit worried regarding the development of the framework. Will the current PRs be accepted?

[2017-08-15 05:32] DaniyalGeek opened #65 "Get started function is not responding."
[code]
i am using this function  and when click on "Get Started" it's look like typing but not respond in back.

Any solution?

[2017-08-15 10:35] sotirelisc commented on #65
Looks like your bot is not subscribed to your Facebook Page. Check the corresponding section at https://developers.facebook.com and subscribe to the Page you're talking to.

[2017-08-20 07:56] tmwd commented on #41
https://developers.facebook.com/bugs/643632455833864

Hi all,

The postback issue should only happen right after updating your persistent menus.

After calling POST /messenger_profile, the menu is updated on our backend. However, it takes time for the changes to propagate to our client side (unless it you delete and enter the thread again). Therefore, when users tap on it, they are triggering muta

[2017-08-20 18:07] Kamalnrf opened #66 "Couldn't validate the request signature."
My bot was working completely fine din't change anything but suddenly I started getting these messages. I'm getting a webhook post but my bot is not responding.
Tried re-validating the webhook, resubscribing the page and also changing the server.

`Error: Couldn't validate the request signature.
    at BootBot._verifyRequestSignature (D:\Kamal\Work\bothook\msg-me\node_modules\bootbot\lib\BootBot.j

[2017-08-22 13:02] atomicfruitcake commented on #14
Without making any changes to my bot, I am now seeing this error as well
[code]

[2017-08-22 16:21] atomicfruitcake opened #67 "Error: Couldn't validate the request signature."
With no changes to our codebase, we are now seeing this error when we attempt to send messages. The bot webhook successfully validates with Facebook. Could this is an issue with the facebook api? We are using version 2.9
[code]

[2017-08-24 17:57] JulienLeal opened #69 "Servless - aws lambda"
Can I use your module in servless, like aws api gateway + lambda ?
If yes, why I need to change or adapte for it ?

:)

[2017-08-25 05:28] mraaroncruz commented on #38
I only think this is a proper solution if it is a facebook bug. Otherwise we're missing a message type that we should be dealing with in a different branch.

Can you tell us more about what the faulty message looks like @ProfNandaa or @hkalexling or @KhanMaytok?

[2017-08-27 16:20] sotirelisc commented on #67
Having the same issue as of today!

[2017-09-02 21:44] helloitsian opened #70 "Typing parameter not being used with convo.ask ???"
[code]

Hello, I'm trying to use the typing option with convo.ask, however it's not showing the typing indicator in messenger. Is this a bug? Or is it just me being dumb? (probably the latter)

[2017-09-02 22:11] helloitsian commented on #70
Alright, simple fix, but leaving this open to see if someone has a cleaner fix.

Currently I've change the convo.ask call to this.
` convo.ask(question, answer, [], { typing: true }) `

[2017-09-07 04:59] ProfNandaa commented on #38
@mraaroncruz - I'll try reproduce and get back, but I think you are right, it might be from the Messenger side, coz it was happening **once in awhile**.

[2017-10-04 08:33] Juan-Pieterse commented on #14
Me too!

[2017-10-04 13:55] Juan-Pieterse commented on #67
I am also having this issue. I followed the setup instructions to the T and I still get this error. I don't know what to do anymore. I will be looking elsewhere for some chatbot code. Thanks.

[2017-10-04 16:04] Juan-Pieterse commented on #67
Guys. I got the same issue. After about 2 days of scratching my head my genius boss pointed out that I got the appSecret variable wrong. DOUBLE CHECK YOUR APP SECRET in the code. Sorted it out nicely!

[2017-10-04 16:05] Juan-Pieterse commented on #40
Guys. I got the same issue. After about 2 days of scratching my head my genius boss pointed out that I got the appSecret variable wrong. DOUBLE CHECK YOUR APP SECRET in the code. Sorted it out nicely!

[2017-10-10 14:21] rmattos opened #73 "Last release isn't sync with source code"
Last release 1.0.12 isn't sync with source code at repository. Could you generate a new package with the code up to date?

[2017-10-11 01:39] hitamu commented on #63
I'm using this framework for my chatbot and it's has a function that send daily message for user.
Here is an implementation
[code]
But firstly you need to request `pages_messaging_subscriptions` permission.
[code]
Here is document: https://developers.facebook.com/docs/messenger-platform/policy-overview/#subscription_messaging

[2017-10-11 12:33] kelkmere opened #74 "Setting proxy"
Hi, I am using this library behind a corporate firewall. Any external request would require first passing through a proxy. For the request library, I can do so by setting the HTTPS_PROXY environment variable. However I am not too familiar with the node-fetch library.

[2017-10-13 02:43] danielnjoo opened #75 "chat.say doesn't work for most people messaging my bot?"
It works for me, and (I'm presuming) the FB validation team: the bot sends them back a message.

But for friends of mine, nothing within:

[code]

evaluates, i.e. even an immediate console.log. I've looked through the source and the messenger documentation but can't find a reasonable explanation. Any help appreciated!

[2017-10-13 05:29] karthikeyana opened #76 "how to get user profile information with the message?"
I can able to get user user text which they sent but i want to get user information also. Kindly help me to resolve this one. Thanks.

[2017-10-13 05:40] karthikeyana commented on #76
Thanks i found information from document.

[code]

[2017-10-13 05:40] #76 closed

[2017-10-30 19:32] danielnjoo commented on #75
Sorry, my issue wasn't very clear nor reproducible. Regardless, did solve it somehow.

[2017-10-30 19:32] #75 closed

[2017-11-02 03:45] fcletov opened #77 "expressjs + bootbot"
Hi,
Can i create another server on same port with express js and call api rest for insert/retreive data on my mongoDB ?

[2017-11-02 03:54] fcletov commented on #77
i resolve it .

[2017-11-02 03:54] #77 closed

[2017-11-06 19:15] FnTm commented on #38
@mraaroncruz this is a message that triggered this notice for me:
[code]
The interesting thing here is that everything still works fine, and I can continue the conversation without a problem.

[2017-11-06 23:49] danielnjoo opened #78 "How to iterate chat.say()"
Hi! This is a question more than an issue, but I was wondering how to iterate chat.say() while guaranteeing that it runs in the right order (i.e. synchronously?)

Clearly the following doesn't work:
[code]

[2017-11-08 12:16] Jimlnth commented on #78
By using then()

[2017-11-08 18:33] danielnjoo commented on #78
@Jimlnth  thanks for the suggestion, but `then` doesn't help it run synchronously.

I also tried `chat.say().then(()=>{return})`

[2017-11-08 18:33] danielnjoo commented on #78
@Jimlnth  thanks for the suggestion, but `then` doesn't help it run synchronously.

I also tried `chat.say().then(()=>{return})`

[2017-11-08 18:46] FnTm commented on #38
Update: if you only want to stop receiving these errors there is a simple way to do that:

1. Go to you App Settings
2. Messenger -> Settings -> Edit Events (on Webhooks section header) and uncheck `standby`

No more TypeErrors, which is what I was after in my case.

[2017-11-08 18:55] Jimlnth commented on #78
Maybe I didn't understand correctly your problem but I'm personally using this way to chain messages synchronously and it always worked like a charm.

chat.say('first message').then(() => {
   chat.say('second message');
});

[2017-11-08 20:06] danielnjoo commented on #78
Oh I see what you mean, yeah I've used `then()` to chain for specific numbers of messages, but I'd like to dynamically choose the number of messages in this case, i.e. via a loop.

Hope you remember what you did!

[2017-11-10 11:16] Charca commented on #78
Hey @danielnjoo, `chat.say()` returns a promise, so maybe you can try doing something like this:

[code]

I'm not 100% sure that would work, but it could take you in the right direction.

[2017-11-10 11:34] Charca commented on #73
Sorry about that. I've just published 1.0.13 to npm which contains the latest from the master branch. I have a few PRs to review and merge this weekend and I'll be releasing a v1.1 after that. I know I'm really late on those.

Also, in case anyone is interested, I'm putting together a roadmap with future improvements and features for Bootbot. The plan is to refactor and decouple the main component

[2017-11-10 11:39] Charca commented on #70
That's the correct usage of the `ask` method, the `options` object is the fourth param.

We can probably use destructuring here so you don't have to pass an empty array or `null` as the third parameter, but this will make it more verbose when you actually want to use that third param, so I'm keen on keeping it as it is.

[2017-11-10 11:39] #70 closed

[2017-11-10 19:05] danielnjoo commented on #78
This works thanks!

[2017-11-10 19:05] #78 closed

[2017-11-12 11:57] krishnanandreddy commented on #77
How did you do it?

[2017-11-16 11:23] MMayla commented on #60
I developed [MysteryBot](https://m.me/shareMystery) using this awesome framework.

MysteryBot is from the finalists in [Facebook bots for messenger challenge](https://messengerchallenge.splashthat.com/)

MysteryBot allows you to share mysteries anonymously, support and comment on other people mysteries.

[2017-11-16 12:59] 5hay opened #79 "messaging_type property mandatory"
Hi!

In this blog post (https://messenger.fb.com/blog/2-2-release/) Facebook states that the "messaging_type" property will be mandatory in all requests to the send API.

Is this property already set by bootbot?

[2017-11-17 14:06] dragGH102 opened #80 "How to handle async data flow (show a message when a cron job runs)?"
As per the title,

I've looked into the documentation thoroughly but I am having a hard time understanding how to have the bot available (without starting and stopping it each time) when the bot runs after waiting for new data fetched periodically (like, a news feed)?

Thanks in advance

[2017-11-17 14:08] dragGH102 commented on #32
I'm also interested in the API.ai thing

[2017-11-17 17:36] mraaroncruz commented on #32
There's the [node dialogflow (formerly api.ai) client](https://github.com/dialogflow/dialogflow-nodejs-client) which has a bunch of examples of how to use it [here](https://github.com/dialogflow/dialogflow-nodejs-client/tree/master/samples)

But facebook supports wit.ai natively now, either by just guessing or you can add your wit.ai api key in the messenger tab in https://developers.facebook.com.

[2017-11-17 17:50] mraaroncruz commented on #80
Bootbot is essentially an express.js server and a Facebook Messenger HTTP client with a lot of wonderful sugar on top.

So you can do anything you would do in a normal node app.

You could either loop in another thread (setTimeout recursion) but I always run into memory leak problems, probably because I am not a JS developer.
Or what I do to be on the safe side is to listen to a unix signal like `

[2017-11-17 17:53] mraaroncruz commented on #60
I launched [Ruby News Bot](https://www.messenger.com/t/rubynewsbot) for folks who want Ruby related news daily. It's an experiment in a multi-page bot and uses rivescript with CMS-like editor and falls back to wit.ai. I hope to add chatbot news and some other news bots but I haven't prioritized it. Bootbot ended up being a much smaller part of this whole thing than I imagined in the start. It made

[2017-11-18 16:41] MMayla opened #82 "Project maintaining and support"
I really love this framework
I've built a lot of bots with it, and I think it's the best chatbot framework for Facebook.

But recently I started looking for alternatives (with no luck) the reason behind this that I think this fraemwork is not receiving so much care from its creator @Charca (Pull requests take a very long time before got merged, Updates and features get implemented slowly, and ques

[2017-11-19 09:19] mraaroncruz commented on #82
I'll volunteer if @Charca doesn't mind giving me access. I also don't have much time but I could take a look once a week or so and merge things that make sense.

I would get everything approved by @Charca in the beginning if he still wants full control. Whatever works best.

And worst case scenario, I could maintain a fork.

[2017-11-19 14:20] MMayla commented on #82
@mraaroncruz you really a good candidate :smiley:
You have made a lot of amazing and important contributions and you always helping people :)

[2017-11-19 15:34] mraaroncruz commented on #82
And like that... I'm a collaborator 🎉
Thanks @Charca and thank you @MMayla for bringing this up.

I'll be busy over the next days but will start making some moves next week.

[2017-11-19 16:25] Charca commented on #79
Thanks, @5hay

The `messaging_type` property is not being set by BootBot, and like you said, we definetely need to support it before May 7, 2018 when it becomes mandatory.

It looks like there're currently 4 different message types: `RESPONSE`, `UPDATE`, `MESSAGE_TAG` and `NON_PROMOTIONAL_SUBSCRIPTION`, but more could be added in the future.

My first impression is that we could probably default `

[2017-11-20 12:57] ProfNandaa commented on #66
Had same issue, mostly likely you have the wrong `appSecret` set, please counter-check:

[code]

[2017-11-20 13:44] 5hay commented on #79
I would do it exactly the same way actually. I'd love to help with implementing but I don't have any spare time atm unfortunately.

[2017-11-20 18:50] MMayla commented on #82
Thanks @Charca for your understanding and your response brought me joy :grin:
Congratulation @mraaroncruz :tada: and don't forget that with great power comes great responsibility :smiley:

Again thanks @Charca and you @mraaroncruz for sacrificing your time making this the easiest way to build chatbots for Facebook messenger :+1:

[2017-11-20 20:57] #82 closed

[2017-11-21 13:34] mraaroncruz commented on #66
@Kamalnrf I know it's been a while, if you set up the `new BootBot()` correctly, double check that your app secret is available.
[code]
Then run your bot and check the output.

[2017-11-21 13:36] mraaroncruz commented on #79
I'll take a look at the docs as I am unaware of this change. I'll also add the docs asked for in https://github.com/Charca/bootbot/pull/54 so we can get a bit more of a test suite (which is included in the PR).

I also like this solution.

[2017-11-25 13:17] #73 closed

[2017-11-25 13:20] mraaroncruz commented on #67
I'm going to close this as OP hasn't responded and it looks like we have a solution.
I will also add an issue for adding a troubleshooting section from @Juan-Pieterse's comment.

[2017-11-25 13:20] #67 closed

[2017-11-25 13:21] mraaroncruz opened #83 "Add troubleshooting section to README"
We can start with this
https://github.com/Charca/bootbot/issues/67

[2017-11-25 13:30] mraaroncruz commented on #65
Closing because of no response from OP (and great answer by @sotirelisc)

[2017-11-25 13:30] #65 closed

[2017-11-25 13:31] mraaroncruz commented on #63
Closing because of no response from OP and there will be a new section in the README describing how to do this.

[2017-11-25 13:31] #63 closed

[2017-11-25 13:44] mraaroncruz commented on #69
I've never used lambda before but it looks like you could use this project
https://github.com/awslabs/aws-serverless-express

Here's how you'd use it with bootbot:
[code]

We would normally call `bot.start(PORT)` but this would be handed off to the express proxy. You can see what happens in that method [HERE](https://github.com/Charca/bootbot/blob/8e70f156dfda96f611cf30286e3482fd570c5cef/lib/BootB

[2017-11-25 13:48] mraaroncruz commented on #49
Maybe the issue is a double negative problem? You have it set to `disabled = false` or `enabled`.
If this is just a typo, it may be a menu caching problem which Messenger is infamous for. Either delete your chat and try again (if your bot is not "live") or patiently wait.
The format of your data is correct.

[2017-11-25 13:54] mraaroncruz opened #84 "Only wrap webhook requests in verifySignature"
Make it easier to add other express endpoints by limiting signature requests to the webhook get and post requests instead of being a global middleware.
Related to #48

[2017-11-25 13:55] mraaroncruz commented on #48
Closing in favor of #84

[2017-11-25 13:55] #48 closed

[2017-11-25 14:16] mraaroncruz commented on #47
The only way I could think of handling this is:
- add an endpoint to the bot.app to handle the webview `GET /datepicker`
- after you get the date, post it, along with the user fbid to another bot.app post endpoint `POST /datepicker`
- somehow hack the conversation object to create the correct context or manipulate the message to look like a special postback. Lots of hacking here.

When [this PR](h

[2017-11-25 14:18] mraaroncruz commented on #46
I don't understand the problem, could you be more specific, maybe give an example?

[2017-11-25 14:22] mraaroncruz commented on #45
when using `bot.sendTemplate(recipientId, payload, options)`, just make sure `payload = {is_reusable: true, url: "http://somesite.com/image.jpg"}`

[2017-11-25 14:22] #45 closed

[2017-11-25 14:29] mraaroncruz commented on #44
@MMayla Can I close this? Can you think of a clean API?

[2017-11-25 14:33] mraaroncruz opened #85 "Expose built in wit.ai API in simple to use way"
I'm just going to put this here as a placeholder. If anyone @Charca, @MMayla has an idea for a clean bootbot API, let's discuss it in the thread here. I'll look more into this over the next week.

I think this would really play to bootbot's strengths.

[2017-11-25 14:33] mraaroncruz commented on #32
I'm going to close this since we now have wit.ai built in. I will add an issue to expose the native wit.ai stuff in a sugar coated way. Ok. I added it [here](https://github.com/Charca/bootbot/issues/85)

[2017-11-25 14:33] #32 closed

[2017-11-25 14:35] mraaroncruz commented on #42
@tmwd's suggestion was implemented in #53 and there is an open PR for my suggestion above. I will close this now. Maybe someday we will have page routing but I don't see it in the near future.
Please open an issue specific to page routing if you still think it is a needed feature @MMayla.
Cheers

[2017-11-25 14:35] #42 closed

[2017-11-25 14:38] mraaroncruz commented on #83
https://github.com/Charca/bootbot/issues/41#issuecomment-323570036

[2017-11-25 14:39] mraaroncruz commented on #41
Closing this issue and linking to it in the new Troubleshooting section (coming soon).

[2017-11-25 14:39] #41 closed

[2017-11-25 14:42] mraaroncruz opened #86 "Handle "standby" messages"
Currently bootbot throws an exception if it receives a standby message.
`TypeError: Cannot read property 'forEach' of undefined at data.entry.forEach(/app/node_modules/bootbot/lib/BootBot.js:408:24`

Handle these more effectively.

[Discussion](https://github.com/Charca/bootbot/issues/38#issuecomment-342254644)

[2017-11-25 14:42] mraaroncruz commented on #38
Closing to add a more specific issue. https://github.com/Charca/bootbot/issues/86

[2017-11-25 14:42] #38 closed

[2017-11-25 14:53] mraaroncruz commented on #23
@Charca is this still a relevant issue (the postback part)? I will move the regex thread here to a new issue.

[2017-11-25 14:57] mraaroncruz opened #87 "Allow a regex to postback callbacks"
Can we do this in a way that doesn't muddle the api for `bot.on`?

Some ideas:

[code]

Anyone else have any API ideas here?

[2017-11-25 21:07] Charca commented on #86
Quoting workaround from @FnTm in case you want to stop receiving these errors while we work on a fix:

[2017-11-25 23:03] Charca commented on #85
I'm not familiar with wit.ai's API, but I'm all for integrations and clean, easy to use APIs :)

This is a great idea, I'll try to do some research this week. If anyone has ideas or suggestions on how to implement it, please share them in the comments.

[2017-11-25 23:16] Charca commented on #23
I think this would make for a pretty cool feature. Grabbing data passed in the postback's name is a pretty common use case, and providing an easy way to access that data on the callback function would be really useful.

I'll leave this open, if anyone wants to take a crack at it, please go ahead.

[2017-11-26 16:40] MMayla commented on #44
@mraaroncruz yeah you can close it :smiley:
I think the issue is solved, now a postback event doesn't break a conversation and to break a conversation when the user clicks on a button you should catch it and close the conversation yourself which I think a good design.

Thanks, @mraaroncruz :smile_cat:

[2017-11-26 17:20] #44 closed

[2017-11-26 17:29] MMayla commented on #85
@Charca @mraaroncruz what do you think about a middleware architecture that runs between requests? something maybe like what [Botkit](https://github.com/howdyai/botkit/blob/master/docs/readme-middlewares.md) did

[2017-11-28 02:01] tcelestino commented on #60
I've been using Facebook Messenger API direct, but I saw the [GoTBot](https://www.messenger.com/t/G0TB0T) on subreddit [/r/chatbots](https://www.reddit.com/r/Chatbots/) (I recommend). I changed my approaches. I'll rewrite the code to use the BootBot. When I launch it, I'll update here. :)

PS.: congrats for job

[2017-11-28 08:55] giocasu commented on #69
I've managed to make it work with AWS lambda, here is the handler code:
[code]
I hope it helps :)

G.

[2017-11-28 09:10] mraaroncruz commented on #69
**WARNING**
You should also be verifying the signature from FB like https://github.com/Charca/bootbot/blob/master/lib/BootBot.js#L457-L474
Or you will be vulnerable to https://chatbotsmagazine.com/how-to-kill-a-bot-with-10-http-requests-ca7eb57c2ad1.
This example is great but steps around using express to handle requests and bootbot's build in request verify middleware.

[2017-11-28 09:53] giocasu commented on #69
Hi, thanks for the reply,
the `event` parameter contains
`'X-Hub-Signature': 'sha1=....'`
which, I think, can be used to validate the https request sent by facebook (or by someone else).
I just have to figure out how to extract the request payload (this one? `(payload, chat) =>`)

Regards,

G.

[2017-11-28 10:55] mraaroncruz commented on #69
@giocasu the payload you are looking for is `event.body`. You are using it in your else statement.
But I don't know the lambda sdk or API so I am making some guesses about what event actually is.

[2017-11-28 12:44] Charca commented on #74
I think we can do this by leveraging a library like `http-proxy-agent` and use it like in the example here: https://github.com/bitinn/node-fetch/issues/79

But we'll need to add support through an environment variable and/or an option in the BootBot class constructor.

[2017-11-29 10:48] mraaroncruz opened #88 "Add ability to break out of conversations via keywords/postbacks in convol.ask()"
It would be nice to be able to explicitly tell `convo.ask()` some postbacks our messages that could break you immediately out of a conversation.

Two common use cases are `help` and persistent menu items.
Maybe we even have a global handler for things like menu items.

But it would be good to be able to do it on an `ask()` by `ask()` basis.

For example with the memeGenerator bot, if the bot is as

[2017-12-01 11:15] GabrieleSammartino opened #89 "Chat.say card doens't work"
this is my structure and doesn't work
[code]

[2017-12-01 12:49] mraaroncruz commented on #89
Hi @GabrieleSammartino,
Could you give more information on what you mean by "doesn't work".

Did you check for error messages in the running bot? Facebook errors are debugged.

What version of bootbot are you using? I believe support for this started in 1.1.14, 6 days ago.

[2017-12-01 12:57] GabrieleSammartino commented on #89
Doesn't work in messenger, not in node
If write "lol" in chat, nothing appeared

[2017-12-01 13:14] mraaroncruz commented on #89
Are you using a local tunnel or running on a remote server?

How did you create your bot on messenger? Do you know if you're receiving messages from facebook? If you aren't, the bot has nothing to respond to.

Has another bot running on another framework or your custom code ever worked where you are running your code?

It could be literally 100 different things. I need as much info as you can give

[2017-12-01 13:18] GabrieleSammartino commented on #89
Remote server, bot work perfectly with other chat.say, only cards doesn't work

[2017-12-01 13:25] mraaroncruz commented on #89
Which bootbot version are you running?

[2017-12-01 13:57] GabrieleSammartino commented on #89
`'use strict';
var express = require('express');
const BootBot = require('bootbot');
var router = express.Router();
var request = require("request")
var myJSON = require("JSON");
const bot = new BootBot({
    accessToken: 'EAAV8DdfpkggBAOzw3pWZBlbQEzDAU3lFZCKM847nyMM0G94xdYOBacNNeobmPXoYqYxRdcFmXBbTiHZCF26JCzBt49YRbOZCEZCMobvGbrCi9YehdDdgbpA0od4nR4MWkkpFqjzZC1awUHg3keN2sfWZBhuTw5ifvyscZCMyGg4QswZD

[2017-12-02 01:07] Charca commented on #89
Hey @GabrieleSammartino, I don't see anything wrong with how you're using the `chat.say` method, my guess is that there's something else causing an error here. If you have access to the console, it should be easy to spot if either: a) BootBot is throwing an exception for some reason, or b) Facebook is returning an error because the data is in the wrong format.

Reasons for a) could be that for exa

[2017-12-02 07:01] GabrieleSammartino commented on #89
I put "global.posts[0].better_featured_image.source_url" in another say with only image, and work perfectly, default_action idk

[2017-12-02 14:44] GabrieleSammartino commented on #89
Work, now

[2017-12-02 14:44] #89 closed

[2017-12-04 15:20] Charca opened #90 "Support appsecret_proof"
Facebook provides the option to secure Graph API requests with an `appsecret_proof` hash. More info here: https://developers.facebook.com/docs/graph-api/securing-requests/

This hash is generated with `sha256` using the `access_token` and `app_secret`, which we already require in the BootBot constructor.

Implementing this should be as simple as adding a `useAppSecretProof` boolean option to the B

[2017-12-04 19:32] magnusburton commented on #85
@MMayla it'd be great with the ability to great middleware functions to bootbot. This way I could parse the incoming message, load users from my database etc. before handling their message.

[2017-12-06 11:31] vinoth12594 opened #92 "Account unlink"
Can you please provide account unlink example format.
`chat.sendGenericTemplate([{
            "title": "Welcome to example.in",
            "buttons": [{
              "type": "account_unlink"
            }]
        }]);`

I tried this one but it's not working.

[2017-12-06 12:42] kebou commented on #92
Did you enable the `messaging_account_linking` event at your webhook subscriptions?
![kepernyofoto 2017-12-06 - 13 39 08](https://user-images.githubusercontent.com/19347641/33662134-0a9b9598-da8b-11e7-84e4-a9f6c89eb971.png)

[2017-12-06 12:58] vinoth12594 commented on #92
Already enabled **message_account_linking**. Now i am facing only error on logout. My Account login is working fine.

[2017-12-06 22:33] ProfNandaa opened #93 "question/performance: what's the minimum system requirements"
What's the minimum system requirements for `bootbot`?

I'm yet to set up actual profile logs but I noticed an increased slow down of my bot response when running on a production 1 GB RAM Digital Ocean droplet, as compared to running it on my local via `ngrok`...

![screen shot 2017-12-07 at 1 31 55 am](https://user-images.githubusercontent.com/261265/33688945-884bbe56-daee-11e7-9d47-dd656c1e41e8.p

[2017-12-07 07:25] #92 closed

[2017-12-11 09:07] BotTesting commented on #88
I solved this already since I needed it. but being only amateur I don't even know how to send a pull so here is what I added in BootBot.js:
} else if (event.postback) {
                    for (var key in this._conversations) {
                      if (this._conversations.hasOwnProperty(key) && this._conversations[key].userId==event.sender.id) {
                        this._conversations.splice(

[2017-12-14 07:59] shubhadit opened #94 "bot.handleFacebookMessage is not a function"
I need to use the handleFacebookMessage function mentioned in the documentation, however, it doesn't seem to exist.

[2017-12-14 08:56] mraaroncruz commented on #94
what version of bootbot are you using? it was added to v1.0.14 I believe. Check your package.json or yarn.lock.

[2017-12-14 09:00] shubhadit commented on #94
Yes, I'm using v1.0.14
I see handleFacebookData in the codebase, but no function called handleFacebookMessage, which is what I needed.

[2017-12-14 09:30] mraaroncruz commented on #94
do you have a bot instance?
[code]

[2017-12-14 09:37] shubhadit commented on #94
Yes. I do have a bot instance. I don't think the **handleFacebookMessage** is defined on the bot.

If you look at this commit: https://github.com/Charca/bootbot/commit/863c5c3eedb2c7d62c8f82aa96100ff0c8b31e3d#diff-04c6e90faac2675aa89e2176d2eec7d8

The part added in the documentation shows the usage of **handleFacebookMessage**.
However, the function actually added in this commit is **handleFaceboo

[2017-12-14 09:51] mraaroncruz commented on #94
I wrote the docs and the code months apart. I must have made a mistake in the docs which made it through code review. Sorry about that.

I will update the docs. Please use `handleFacebookData`.

[2017-12-14 10:00] mraaroncruz commented on #94
The docs are updated @shubhadit. Thanks for the heads up and finding the source.
https://github.com/Charca/bootbot/pull/95

[2017-12-14 10:20] shubhadit commented on #94
There's an issue even in the current documentation/functioning. It will give an error when executing.
**handleFacebookData** expects the input to be an array however, we are passing it a single message.

The documentation should be as follows given the current implementation of **handleFacebookData**.
[code]

The **handleFacebookData** function works on the direct raw input from the webhook.
Inter

[2017-12-14 10:42] mraaroncruz commented on #94
I will make a note to write better docs for the method.

To your issues (this will answer all three):

You do know which bot the message is for. This is the data you will receive on your webhook. From https://developers.facebook.com/docs/messenger-platform/webhook
[code]
The assumption that I made when I pulled `handleFacebookData()` out was that `entry.id` was the page id (or bot id in your case)

[2017-12-14 10:53] mraaroncruz commented on #94
Nevermind, the docs aren't vague, they're contradictory.

Here it says that `entry.id` is the`PAGE_ID` so where you'd route your bot.
https://developers.facebook.com/docs/messenger-platform/webhook

But it also says that `entry.messaging.recipient.id` is the `Recipient user ID`

But here https://developers.facebook.com/docs/messenger-platform/reference/webhook-events/messages it says that `recipie

[2017-12-14 10:58] shubhadit commented on #94
The problem is that the PAGE_ID is inside each entry and not at the top level of data(which handleFacebookData expects).
Assumption is that since the Facebook API is sending PAGE_ID with each entry there could be a possibility that multiple entries have different PAGE_IDs.
So, we'll have to iterate over all the data.entry objects, filter out the objects that correspond to each page.
And then pass

[2017-12-14 12:58] mraaroncruz commented on #94
You're trying to do something different than what `bot.handleFacebookData()` is intended to do.
And I think you don't understand the example above the way I intended it (which is my fault).

If you want a bot to handle a message differently than another bot, they need to be entirely different bootbot instances.

The original example shows 3 of such instances created. Each of these bots has its own

[2017-12-14 13:21] shubhadit commented on #94
The problem with this example is that data.entry is actually an array, hence PAGE_ID won't directly be accessible at the top level like I was saying before, we'll have iterate over it.
Each entry object that we iterate over has its own PAGE_ID. So the code which users **handleFacebookData** will probably look something like:

[code]

It just seems much cleaner, simpler and useful to me if we have

[2017-12-14 14:37] mraaroncruz commented on #94
Please see this comment again. https://github.com/Charca/bootbot/issues/94#issuecomment-351676987

There is a top level page id. Why would you need per message page ids? Why would facebook give you a top level page id, then give you different page ids in individual messages?

I really want to know the answer to this. And if the answer is anything other than "they wouldn't", I think your PR is a gr

[2017-12-14 14:48] shubhadit commented on #94
As you have commented above. This is the data we receive on the webhook.
From https://developers.facebook.com/docs/messenger-platform/webhook
[code]
As we can see **entry** is a list of objects each with a **PAGE_ID** attribute and a **list of messages**.
I believe the whole point **entry** is a list of objects each with a **PAGE_ID** attribute is because they want to send data for multiple pages

[2017-12-15 04:57] shubhadit commented on #94
@mraaroncruz any update regarding this?

[2017-12-15 10:18] mraaroncruz commented on #94
Hi @shubhadit,
You're not wrong. I wasn't considering that entry was an array (thanks for the naming Facebook 😦)
I was slightly talking around you.

You could still use this api, just wrapping the entries in arrays like in your example. This is not ideal.

I will consider your PR and try to get a version of it merged soon. I'll try to deprecate my version since it doesn't make any sense.

Thanks f

[2017-12-15 10:18] #94 closed

[2017-12-15 10:21] shubhadit commented on #94
thanks @mraaroncruz!
It'll be great if we can work this in by early next week.
Working on a project where I'm using this framework.

[2017-12-16 18:44] VladimirDev93 opened #97 "Heroku connection error = 28"
Hello,

I've followed the documentation on how to build your bot, I've got a successful connection with webhook while using `ngrok`.

But when I try to connect the bot with Heroku, I get this error

![65465456448](https://user-images.githubusercontent.com/12301022/34073370-bc832388-e298-11e7-9cf8-8ac947b231d1.png)

and can't find the related issue on Google, only for this repository jw84/messenger

[2017-12-17 23:06] jaksz commented on #46
Sure, I could.

[2017-12-17 23:07] jaksz commented on #46
It's when they do what I just did. Write the answer in more than one message.
It's a challenge to match the answer parts to the question if they're distributed over several messages.

[2017-12-17 23:08] jaksz commented on #46
Write the answer in more than one message.

[2017-12-17 23:08] jaksz commented on #46
It's a challenge to match the answer parts to the question if they're distributed over several messages.

[2017-12-18 14:08] mraaroncruz commented on #46
You could create some kind of timeout buffer in your `ask()` fallback (the `answer` parameter).

Think of this like a normal conversation. What would you do if someone was talking with you like this?
I would either:
- wait a few seconds between
- interrupt them

You could do this with the bot. Find the point where this happens a lot and add a kind of timeout buffer. If your bot doesn't understand

[2017-12-19 10:56] jaksz opened #98 "Memory leakage"
Hey, I'm having severe memory leakage leading to the bot crashing on Heroku after several hundred messages.
<img width="438" alt="- -" src="https://user-images.githubusercontent.com/13822469/34153781-8dfebabe-e4b3-11e7-8dc9-6c90f66a5bbd.png">

I tried debugging my code and made sure all pointers are deleted but I have the impression that it's not my code that's leaking memory but rather the bot it

[2017-12-19 12:46] mraaroncruz commented on #97
Instead of 'FB_ACCESS_TOKEN' you need to grab the env vars like `process.env.FB_ACCESS_TOKEN` if you set `heroku config:set FB_ACCESS_TOKEN=yourpagetoken`. Same with the other two values.

[2017-12-19 12:53] mraaroncruz commented on #98
I have no idea, but one culprit may be open conversations. Conversational state is held in memory but you would have to have a ton of traffic to cause cause overages on a simple bootbot instance.
Maybe you can `console.log` your conversation array every N amount of time.

    console.log(bot._conversations);

Or maybe to start

    console.log(`We have ${bot._conversations.length} conversations in

[2017-12-19 16:45] VladimirDev93 commented on #97
The variables are not the problem, the problem is that the app keeps crashing.
As soon as I tried with the original Facebook code, it worked upon first try. https://github.com/fbsamples/messenger-platform-samples

[2017-12-19 21:13] mraaroncruz commented on #97
The link you gave is not bootbot.

Is the code you showed above the code for your bot? If it is, you are using the env vars incorrectly.

If it isn't the code for your bot, can you paste the code for your bot that instantiates the `BootBot` instance.

This is because the `/` route is not served by the webserver (express) that is created by bootbot.

[2017-12-20 02:20] #97 closed

[2017-12-21 21:19] jaksz commented on #98
Hi, it did turn out to be my code! I was opening database connections, but not closing them.

This means that `bootbot` itself has no memory leaks itself; tested with a bot getting around a thousand messages per hour for several days now.

<img width="1065" alt="- -" src="https://user-images.githubusercontent.com/13822469/34275276-d58a7b3a-e69c-11e7-9107-fd5a481d6607.png">

Thanks a lot

[2017-12-21 21:19] #98 closed

[2017-12-29 16:58] redcpp opened #99 "Website"
Having a website would be great to have:

- A more professional looking project
- Enhance the features the framework provides
- Present example use cases
- Showcase featured projects

It could be made out of jekill or plain html/css/js. If approved, I could work on it.

[2018-01-05 12:20] cmdgazal opened #100 "Handle close of webview"
I want to be able to handle the close of a webview.. How do i do that

[2018-01-05 12:57] mraaroncruz commented on #100
Does this help? https://github.com/Charca/bootbot/issues/47#issuecomment-346943146

[2018-01-05 12:58] mraaroncruz commented on #46
Closing due to no response

[2018-01-05 12:58] #46 closed

[2018-01-05 12:59] mraaroncruz commented on #49
Closing due to no response

[2018-01-05 12:59] #49 closed

[2018-01-05 12:59] mraaroncruz commented on #47
Closing due to no response

[2018-01-05 12:59] #47 closed

[2018-01-05 13:00] mraaroncruz commented on #66
Closing due to no response

[2018-01-05 13:00] #66 closed

[2018-01-05 13:01] mraaroncruz commented on #80
Closing due to no response

[2018-01-05 13:01] #80 closed

[2018-01-05 13:01] mraaroncruz commented on #69
Closing due to no response

[2018-01-05 13:01] #69 closed

[2018-01-06 10:34] danielnjoo opened #101 "Heroku hosting, changing port, using a forked version"
Hi, I've seen similar issues, but can't seem to find a solution that works:

Hosting on heroku requires a different port so I changed line 31 of BootBot.js to:

`
this.app.set('port', process.env.PORT  || 3000);
`

And tried changing my package.json to use relative (local) file paths, which didn't work. So I tried linking it to a forked version on GitHub like so:

`
"bootbot": "https://github.com/

[2018-01-06 17:04] jaksz opened #102 "Get users email"
We can get the users profile with chat.getUserProfile(), but how can we get the email?

[2018-01-07 04:54] PandawanFr commented on #101
Here's how I did it:

[code]

[2018-01-07 04:56] PandawanFr commented on #87
👍 I also need this for my bot. I need to make buttons that allow you to unsubscribe from a given topic and wanted to do so like this:
[code]
But it seems like that is not available... Please add!

[2018-01-07 23:51] magnusburton opened #103 "Allow for quick replies to be sent with templates too"
According to the Messenger docs quick replies can be sent together with ...

as well as ...

[Source](https://developers.facebook.com/docs/messenger-platform/reference/send-api#attachment)

Looked through the code and it didn't look like this was possible at the moment except when sent using the `.sendMessage()` method. Would be great to have quick replies enabled for all sorts of messages!

Thank

[2018-01-11 14:54] Charca commented on #99
This sounds like a great idea, @redcpp. I'll re-open the issue. If anyone starts working on it, please assign it to yourself and leave a comment here. Thanks!

[2018-01-11 15:06] steoneill commented on #99
I'll happily do this :)

[2018-01-20 11:37] yipcma commented on #85
curious what's the progress on this. Would love to use this to minimize overhead.

[2018-01-20 20:41] vijayrajasekaran opened #106 "How to use it with other frameworks like Sails.js"
Hello,

I would like to use BootBot with Sails.js since it comes with lot of features. I have the server configured with routes, webhook. I would like to use BootBot without it starting another server with bot.start();

Thanks.

[2018-01-21 10:00] mraaroncruz commented on #85
@yipcma I haven't had time to work on this because I am really swamped with work. I estimated February last month, but it may have to be pushed till March. Unless someone else picks it up and then I would review it (almost) immediately.
I'm saying "no" to other projects now so my backlog should start to shrink next week. I'll keep you posted.

[2018-01-21 10:05] mraaroncruz commented on #106
Take a look at the discussion here https://github.com/Charca/bootbot/issues/94

I will try to get that implemented ASAP. It shouldn't be very much work.

Pretty much, you would create your bot and never `bot.start()` it. You could use the `bot.handleFacebookMessage(msg)` method to process and respond with the messages you receive on your sails.js controller (or whatever it's called).
I highly reco

[2018-01-21 11:38] vijayrajasekaran commented on #106
Thank you so much. I will wait for this to get implemented as using bot.hear and chat.say is simple and easy. :)

[2018-01-22 18:13] vijayrajasekaran commented on #106
It works fine. 👍

[code]

[2018-01-22 20:05] mraaroncruz commented on #101
I'll close this because @PandawanFr's solution should work and @danielnjoo hasn't responded. Thanks @PandawanFr

[2018-01-22 20:05] #101 closed

[2018-01-22 20:12] mraaroncruz commented on #102
Here's an article about it. It looks like a real pain. Look in the comments, there's some good stuff.
http://espeo.eu/blog/user-permissions-messenger-bots/

Also look here https://developers.facebook.com/docs/messenger-platform/webview/permissions
I can't see anything about email here: https://developers.facebook.com/docs/messenger-platform/identity/user-profile

It looks like it's a bit of a blac

[2018-01-22 20:15] mraaroncruz commented on #102
Also check out this https://developers.facebook.com/docs/facebook-login/manually-build-a-login-flow
linked to in this related thread in the botkit repo
https://github.com/howdyai/botkit/issues/544

[2018-01-25 17:10] missym-pt commented on #41
Hi, dont know if Im posting my question in the right place (im just a junior). Im having a problem with a postback button in a persistent menu. It only works one time, and then it stops responding untill the page gets refreshed. Im using fbmq (https://github.com/conbus/fbmq) but I dont think the problem is my code now because after trying almost every solution I found, i was inspecting the network

[2018-02-01 05:38] jhenriquez commented on #100
#47 is actually closer to my question(s), but since it is closed and it's referenced here, I guess its rather a good place to start instead of new issue. Let me specify first what I want/need to do:

As far as I've investigated, this is not possible through the provided MessengerExtensions API. Not cool at all, especially because of [misleading third comment on the Recommended Design Flow subsecti

[2018-02-02 03:38] zeloru opened #108 "Handle unexpected replies from user"
Hello Charca,

User are always curious and enter unexpected replies to test bots.
But currently, bootbot doesn't have a way to handle that.
It would be great to have something like:
[code]

[2018-02-02 17:57] danielnjoo opened #109 "No matching user found?"
Creating a `hello world` app with this package (have made others before),  and currently am receiving responses, but am unable to send replies, via `chat.say()`?

[code]

Any tips?

[2018-02-04 20:56] mraaroncruz commented on #109
It sounds like you're sending replies to the wrong page. Make sure your access token is set to the correct page.
User ID's are not facebook ids, they are scoped to the page. So you may be sending messages to user ids for the wrong page and this is how facebook would respond.

[2018-02-06 17:56] tmwd commented on #108
@Charca Same was here: https://github.com/Charca/bootbot/issues/46

[2018-02-07 04:52] zeloru commented on #108
I have a simple solution.

add to Bootbot class
`
registerMessages( messages ) {
  this._messages = messages;
}
`
then we can use:
`
bot.registerMessages(['hello', 'hi', 'bye'])
`
in _handleMessageEvent method, add something like:
`
if keyword not in _messages:
  emit( this.unexpect )
`

[2018-02-07 10:29] vijayrajasekaran commented on #47
I have the same requirement. Can this be done now?

[2018-02-07 10:57] vijayrajasekaran commented on #100
I am also trying to find out how to bring the values from the webview form into the ongoing conversation.

[2018-02-07 12:25] tmwd commented on #108
@zeloru Is this solving conversation case alike: user is answering to bot's question with two different messages? It is a very common case that users use 'send' instead of 'return'.

[2018-02-07 16:01] jhenriquez commented on #100
Have you tried something like what I describe above? @vijayrajasekaran

I just have not had the time to try it out. But I'm almost certain that could work I've seen at least one bot do it this way.

[2018-02-07 16:16] mraaroncruz commented on #47
The merging? I can take a look this weekend.

Otherwise I don't know what you would like implemented.

[2018-02-07 16:19] vijayrajasekaran commented on #47
Using the data captured using the Webview (simple forms) in an Ongoing Conversation. Like saving the form values in `convo.set('input_text', value);` and continuing the existing Convo.

[2018-02-07 16:22] vijayrajasekaran commented on #100
I am able to postback the values to the server from the webview but unable to add it to the ongoing conversation thread.

[2018-02-08 08:16] zeloru commented on #108
No, unfortunately.

I think Messenger need to tell us if user is typing. Then we can handle the problem correctly.
For now, **mraaroncruz**'s anwser is the solution.

[2018-02-08 20:46] danielnjoo commented on #109
Thanks! I had the wrong page access token (too many pages / apps)... was testing for a workshop that I'm running.

[2018-02-08 20:46] #109 closed

[2018-02-09 03:14] jhenriquez commented on #100
🤔  not even by using the send API directly. My theory is that if somehow I managed to pass on the (securely) the conversation id to the web view, then from the web view back on to the server I could either use the Bot.sendTextMessage or the even try to post directly to the API.

I need to make some time to try these things myself, but I guess it would be even better if someone beats me to it 😌

[2018-02-09 13:12] zeloru commented on #108
I've found a solution to my problem after reading Bootbot's code.

Since `data` has `captured`, we can handle unexpected messages like:
[code]

@tmwd, i've found a workaround to your problem. Because Bootbot allows only 1 answer from user to to our question, to handle 2 or more answers from user, you code something like:
[code]

[2018-02-09 13:15] zeloru commented on #108
This issue is closed. But if there is a elegant solution, please let me know.

[2018-02-11 18:43] mraaroncruz commented on #109
I knew where to look because I have had the same issue a few times ;)

I'm glad it worked for you!

[2018-02-11 18:54] mraaroncruz commented on #108
@zeloru
The way the `convo.ask()` method works is that it takes
- a question (required)
- a fallback answer (required)
- an array of expected answers

If you look at the docs, you can see some examples of using the expected answers array to set up how you expect the user to react to your question.
You can match on regex, exact text, expect a postback or quick reply response.

Then in the fallback

[2018-02-13 07:56] mchingiz opened #110 "Can't access express server to setup ssl"
Hi, I was using heroku for messenger bot, now I want to move it to my own server. Because facebook wants webhook to be served from https, I am trying to setup ssl. But I don't have access to express server used in bootbot.

I tried to setup my own express server on port 3000 and bootbot server on 3100, then proxy all requests to port 3100 by using `express-http-proxy` module.
But I have ended up w

[2018-02-14 08:26] mchingiz commented on #110
I ended up using the second solution. I have created https server on port 3000, submitted that port as webhook, then redirected all requests to bootbot server on port 3100
[code]

I am not sure but I think it took a little while to take effect. I don't know why and couldn't recreate the situation.

I still think, it would be greate if we were able to create https server on bootbot by providing cer

[2018-02-15 10:08] #108 closed

[2018-02-17 00:20] VladimirDev93 opened #112 "Not really an issue, but rather a question"
Hello,

I liked your repo so I decided to try it. Everything was fine overall until I came up to the step where I need to write the logic for "Persistent menu". I was using :
[code]
but both of them return `TypeError: Cannot read property 'forEach' of undefined` on Heroku's log when I click on the "Get started" button or one of the options in the persistent menu.

I understand that it's because th

[2018-02-17 15:05] VladimirDev93 commented on #112
Nevermind, I've found the examples folder.

[2018-02-17 15:05] #112 closed

[2018-02-17 15:50] unigazer opened #113 "TypeError: Cannot read property 'forEach' of undefined (Heroku logs)"
Tried this example:
https://github.com/Charca/bootbot/blob/master/examples/persistent-menu-example.js

but getting this on logs (Heroku):
[code]

My index.js
[code]

When it comes to
[code]

I even tried using "Postman" to send a POST request with same JSON data (https://developers.facebook.com/docs/messenger-platform/send-messages/persistent-menu), but still getting
[code]

**UPDATE**
Ok, after c

[2018-02-27 18:02] tom-sherman commented on #85
Lack of extensibility is one of the reasons I haven't tried this project out yet.

I agree with @magnusburton, this sort of integration should be handled in plugins/middleware outside of this project.

[2018-02-27 18:09] tom-sherman opened #115 "Add JSdoc strings"
This would very helpful for autocompletion and the like 😄

Has any work been done on this?

[2018-03-02 19:38] secretrobotron commented on #113
Looks like `BootBot.js` has a handler that assumes `entry.messaging` exists:

[code]

Capturing the input, I get an object which has no `messaging` property:
[code]

I think this problem occurs because you're subscribed to events that the bot isn't equipped to handle by default. It just assumes everything will be one kind of event. Adding `if (!entry.messaging) return;` at the top of that `forEach

[2018-03-05 16:37] hasina10 opened #117 "Custom payload on Quick Reply"
Hello, great work.

But is there a way to set custom payloads on quick reply button?
And also set the image_url on quick reply.

thanks.

[2018-03-05 16:53] hasina10 commented on #117
Ok, I have not read carefully the doc.

If someone like me haven't found this.
Simply set the quick reply object as parameter (can be array) (https://developers.facebook.com/docs/messenger-platform/send-messages/quick-replies)

[2018-03-05 16:53] #117 closed

[2018-03-10 02:29] c0nstructer opened #118 "issue on postback :BOOTBOT_GET_STARTED"
When doing conversation, and suddenly deleting chat, and hitting get started button,
bot thinks that it is still in conversation, thus it does not recognize payload message.

Waiting for minute, deleting again conversation, bot knows that it is dropped out of conversation, and starts normally.

[2018-03-10 19:41] FnTm commented on #113
@VladimirDev93 @secretrobotron This seems to be the same issue that's described in https://github.com/Charca/bootbot/issues/86 . The workaround to stop receiving the error is mentioned in that issue as well.

[2018-03-10 19:43] FnTm commented on #102
@jaksz I'm quite certain that e-mail is not something you can get directly from the userProfile, and that is by design. Your best option is to ask the user to enter their e-mail directly in some way, though most users will most likely not do that.

[2018-03-12 20:14] bigsamos commented on #44
Hello to all,

Where to put this

`const callbacks = [{
  event: 'postback',
  callback: (payload, convo, data) => {
    convo.end();
    bot._handleEvent(`postback:${payload.postback.payload}`, payload);
  }
}];`

Thanks,

Bigs

[2018-03-27 04:07] AlexAndrei98 opened #121 "verifyToken unmatch"
Whenver I try to initalize the bot on heroku I get this error. However, if I try to initialize it with the provided code from facebook it will not give me any errors.
Anyone knows why?
`Failed validation. Make sure the validation tokens match.`

this is my code
`'use strict';
const BootBot = require('bootbot');
const PAGE_ACCESS_TOKEN = process.env.PAGE_ACCESS_TOKEN;
const VERIFY_ACCESS_TOKEN = pr

[2018-03-27 17:43] mraaroncruz commented on #121
First: Is this error happening in the facebook modal or in the console where you're running your bot?

This could be a misspelling in heroku config?
run `heroku config:get VERIFY_ACCESS_TOKEN -a your_app_name`
Is it the same as you are adding in facebook?
Also, facebook is notorious with being the awful with caching (over caching). If above isn't the case, delete the webhook and re-add it in the m

[2018-03-27 17:46] mraaroncruz commented on #118
I don't know what to tell you here. This is a facebook issue and not a usecase that I think we care about.
You should have a new page specific user id after you delete your chat. This is how the bot would see it wasn't in a conversation anymore (completely new user id). If facebook is taking too long to update this, there's nothing we can do here.

[2018-03-27 17:46] #118 closed

[2018-04-05 12:53] shauns opened #123 "How to support multiple worker processes?"
Is anybody using this library in production with multiple worker processes?

I wondered how people are handling conversation state when the bot is behind a load balancer. At the moment, it seems that `Bootbot._conversations` relies on local state.

[2018-04-05 19:35] mraaroncruz commented on #123
Currently everything is local and in memory. You would have to find another way to hold conversational state, for example state machines, and save them in a shared database.

Sorry, but there is nothing on the roadmap pushing for this sort of thing. Let me know if you have any more questions.
I'll leave this open for a bit in case someone has any good suggestions.

[2018-04-06 11:06] tschnoelzer opened #124 "Integration into gcloud remote function"
Hi Team,

I need a solution to work with FB messenger and deploy on firebase functions. It is possible to deploy express apps to functions like explained here: https://codeburst.io/express-js-on-cloud-functions-for-firebase-86ed26f9144c

I can not find a way to call the bot from within a cloud function.

any clue?

const functions = require("firebase-functions")
const BootBot = require('bootbot');

[2018-04-10 14:45] dimitri-gigot commented on #42
Hello,
I know this issue is "closed" but today we had the same issue at the office.

So i wrote some code and manage to make it work.
I didn't change a line in the Bootbot library but i wrote a "wrapper" around it.

If you guys still interested in that,  i can refactor my code and make it available on Github.

Cheers

[2018-04-10 16:56] mraaroncruz commented on #42
If it wouldn't be a lot of work, I think some people would be really interested.
Otherwise, I'd wait for a couple people to speak up.
Great you got it working @dimitri-gigot!

[2018-04-10 17:03] dimitri-gigot commented on #42
Oups.. I removed my previous comment (miss click)  :(

I actually have to refactor the code because I make it "dirty" this afternoon and I can't obviously deploy that.
I'll link my code when it will be done ;)

[2018-04-16 13:56] tadejmagajna opened #125 "Same bot for multiple pages"
Is there a way I could make the same bot work for multiple pages? I know there's a proposed solution mentioned [here](https://github.com/Charca/bootbot#bypassing-express), but I'm wondering if there's a simpler way of doing it without spinning up several bots, like passing an array for the `accessToken` property, as I see no reason why that shouldn't be possible.

Thanks, Tadej

[2018-04-16 14:48] #115 closed

[2018-04-16 14:51] mraaroncruz commented on #125
What is your use case? Are all bots identical?

[2018-04-16 14:56] tadejmagajna commented on #125
Maybe I wasn't clear enough. I need **one bot** (one running instance) to be able to chat to **multiple pages**

[2018-05-03 04:32] tdelam opened #127 "Saving Data in Mongo?"
Hi,

Are there any examples or documentation as to how to save responses into mongo?

[2018-05-03 04:41] tdelam commented on #123
Any examples as to the best practices for saving responses in a database?

[2018-05-04 13:45] Azique commented on #127
Hi, could you provide a bit more details about what you're trying to accomplish?
Since in general storing a sting (array of strings) in mongo is pretty straightforward my guess is that it's not what you're looking for

[2018-05-04 14:06] mraaroncruz commented on #127
@tdelam how do you normally store things in Mongo?

[2018-05-04 17:11] tdelam commented on #127
Sorry, yah storing is simple but I mean... I am looking for a concept like a middleware. I didn't see anything about middleware in the docs so I am guessing this is not a thing with bootbot?

[2018-05-04 19:49] mraaroncruz commented on #127
Bootbot runs on top of express. You can access the express app via:
[code]
There are a couple middleware related PR's too. Maybe some of the discussion can help.
https://github.com/Charca/bootbot/pull/104
https://github.com/Charca/bootbot/pull/107

[2018-05-11 03:23] jwilson114 opened #128 "Are 360 Images supported when using BootBot?"
Are 360 Images supported when using BootBot? How do I go about sending one?

When I send a 360-degree image, it arrives as a regular image. However, when I send the same 360-degree in facebook chat via my browser it works just fine (so no problems with the image). Any advice would be greatly appreciated.

[2018-05-11 04:34] #36 closed

[2018-05-11 04:34] #79 closed

[2018-05-11 04:35] Charca commented on #31
Fixed in #129

[2018-05-11 04:35] #31 closed

[2018-05-11 05:12] Charca commented on #128
Hey @jwilson114, I don't think 360 images are supported by the Messenger Platform, at least I couldn't find any information about it. Seems like it's a user-to-user feature only. Did you find any information on Facebook's Docs about it?

[2018-05-11 11:05] jwilson114 commented on #128
Hey @Charca, Thanks for the reply. I haven't found any information relating to the Messenger API confirming that 360 images work. All that is stated is that if the image is uploaded to Messenger with the correct meta data Messenger will render the 360 image.  I was hoping there was something I had missed. I will let you know if I find anything.

[2018-05-15 01:26] #127 closed

[2018-05-15 01:27] tdelam opened #130 "Deploying to Heroku?"
My bot is done, looking for some docs on deploying but didn't find any. Any tips? The tunnel seems to start up and listens on localhost on heroku... I do have some log entries though:

`2018-05-14T17:45:31.653849+00:00 heroku[router]: at=error code=H10 desc="App crashed" method=GET path= "/webhook?hub.mode= subscribe&hub.challenge= 733323090&hub.verify_token=delamorandiere" host=fast-lowlands-2808

[2018-05-15 14:45] #130 closed

[2018-05-25 11:09] Charca commented on #125
I've seen a few issues requesting this feature, I think supporting this out of the box would be great for the framework. Does anybody know if/how other frameworks handle this use case for Facebook Messenger?

[2018-05-25 11:18] Charca commented on #102
Yeah, I don't think it's possible to get the user's email address from Facebook. This might change in the future, but right now your best option is to ask the user directly.

[2018-05-25 11:18] #102 closed

[2018-05-29 08:38] mraaroncruz commented on #110
You could put it in front of nginx. Then have nginx handle the https. Or maybe something lighter weight like caddy which is https only (backed by letsencrypt):
- caddy config [example](https://github.com/caddyserver/examples/blob/master/ghost/Caddyfile)
- caddy docs [link](https://caddyserver.com/docs)

[2018-06-01 16:30] libhide opened #131 "Webhook received unknown event"
Hey, I'm trying to follow the following example from the docs:

[code]

and the console is throwing out a "Webhook received unknown event" at me.

![the issue](http://oi65.tinypic.com/20qyu5k.jpg "Issue")

What am I doing wrong here?

[2018-06-01 20:20] mraaroncruz commented on #131
The error that is happening is that bootbot is expecting there to be a `text` key inside of your `event.message` object. Since it doesn't see this, it doesn't understand what is going on.
I have never heard of this happening so my guess is either:
- Facebook changed the API
- You're sending in the event data and it is malformed (missing the text key in message)
- Facebook bug

You can see the `tex

[2018-06-01 21:59] libhide commented on #131
Yeah, it turns out that I do need to pass in something as `text`. Although, this is a `BootBot` restriction and not something Facebook caused since I've made quick replies work without sending text before.

Any idea on how I can achieve what I want to achieve (not sending text) and still continue using `BootBot`?

[2018-06-02 10:09] mraaroncruz commented on #131
What do you mean by "sending text". I don't understand your use case. AFAIK facebook requires text with all quick replies. But this is maybe me just being in a bootbot echo chamber.

Also, according to the docs, `text` or `attachment` must be set.
<img width="820" alt="quick_replies_-_messenger_platform" src="https://user-images.githubusercontent.com/175984/40873282-cc5cce28-665d-11e8-8dc0-801de67

[2018-06-02 13:50] libhide commented on #131
I think there is a confusion between`text` and `title` – my bad.
I'm definitely sending a `text` with the quick-reply but want to try and avoid sending a `title`. According to the docs, this is possible.

![title](https://user-images.githubusercontent.com/1370559/40877163-c284239c-6699-11e8-8ca6-1b66b48e8bcc.jpg)

Thoughts?

[2018-06-03 01:07] josephchan91 opened #132 "Do you support sending broadcast messages?"

[2018-06-03 06:16] mraaroncruz commented on #132
Currently not

[2018-06-03 06:16] #132 closed

[2018-06-04 10:19] mraaroncruz commented on #131
If you send a quickreply, you need to set `text`. You are not setting `text`. That is why you are receiving the error. If you set `text` everything else should be fine. Follow my link to the calling bootbot code above if you still aren't following what I'm talking about.

[2018-06-04 17:54] iwko opened #134 "npm run test does not work"
After installing all dependencies when I try to run tests using `npm run test` I get error message

When I try `mocha test/*.spec.js` instead of `mocha --recursive test/*` everything works perfect.

[2018-06-10 19:33] #131 closed

[2018-06-11 21:54] MaelLarcher commented on #130
I have the same issue, how did you solve this ?

[2018-06-13 12:36] WIEM-S commented on #23
Hi , I have a question : how my bot knows if a user is active ??
thanks

[2018-06-14 11:32] Charca commented on #23
@WIEM-S What do you mean by active? If you want to know if the user is currently using the Messenger app, I don't think there's a way to know that for sure.

[2018-06-14 20:49] ihavenonickname opened #135 "Parameter error: You cannot send messages to this id"
This call:

[code]

Results in the following error:

[code]

The `user_id` parameter is the `payload.sender.id` from `bot.on('message')` callback.

What bugs me is that it works on my local machine, however it doesn't on my remote server, even using the very same `user_id` in both machines.

Any hints?

[2018-06-14 20:53] mraaroncruz commented on #135
Check your app ID and page token. Make sure they're not null and correct for the correct page.

[2018-06-15 12:23] ihavenonickname commented on #135
Hello!

I checked, they're equal on both machines.

Just to be clear, `bot.on('message')` works on both machines, while `bot.say` only works on one (my local machine).

[2018-06-15 12:51] mraaroncruz commented on #135
It sounds like a facebook page token issue. Are you sure that the page tokens match the app you are expecting to use?

User ID's are page scoped so this sounds like you are trying to send to a user that is connected to a different page. So FB's like "Who is this?"

I can almost guarantee that your facebook page token is incorrect.

[2018-06-15 12:55] mraaroncruz commented on #135
- Go to the app in developers.facebook
- Go to Settings => Basic
- Look at the App ID, make sure it is what you are using in production
- Now go to Messenger => Settings in the left menu
- Select the page you are sending to and from
- Make sure the token is the same you have in production with the app id above

[2018-06-17 13:36] WIEM-S commented on #128
Hey , how to send file/image/video using bootbot? Thanks

[2018-06-22 14:33] WIEM-S commented on #94
any update ?

[2018-06-24 16:58] WIEM-S opened #139 "No matching user found"
I am trying to create my first bot using bootbot. It works fine but when trying to create two bots like this :
/*
const BootBot = require('bootbot');
const bot1 = new BootBot({
  accessToken: process.env.ACCESS_TOKEN1_Act,
  verifyToken: process.env.VERIFY_TOKEN,
  appSecret: process.env.APP_SECRET
});

const bot2 = new BootBot({
  accessToken: process.env.ACCESS_TOKEN2_news,
  verifyToken: proces

[2018-06-25 05:28] mraaroncruz commented on #139
Try either:
- setting `webhook: "/bot_news"` and `webhook: "/bot_act"` in your bot constructors and then setting those in Facebook for each bot
or
- Setting different ports to `bot.start`. So `bot2.start(3001)` and `bot1.start(3002)`.

I think the reason bot1 is working and not bot2 is that it is started after it. If you switch the order you start, the bots in, the other will work.

The problem is

[2018-06-25 07:06] WIEM-S commented on #139
@mraaroncruz i used different ports and i switched the order but still one of the first only work. I can't use 2 webhooks because i am using the same facebook app for both

[2018-06-25 08:35] mraaroncruz commented on #94
Nope. Unfortunately I don't build many bots these days and mostly just handle support for this project. That may change soon as I am likely picking up a bot contract very soon. We'll see. It is indeed broken.

[2018-06-27 13:12] ar1kumar commented on #47
Sorry for the super late response, I did find a workaround for this sometime ago, thought I'll share it here so others can find it useful if they need it.

I created a webview for custom functionality and wanted to pass the user data between the webview and then back to the chat window,
So, the server side code sort of looks like as follows,

const customFunction= (convo) => {
convo.ask((convo)=>{

[2018-07-14 01:59] Devric commented on #77
i did something like this @krishnanandreddy

var port = 5000
http.listen(port, function(){
    bot._initWebhook()
    console.log('listening on port:'+port)
})

[2018-07-21 08:37] efleurine opened #141 "When does the `captured` is set ? Or what is the flow order?"
I have those two pieces of codes

1  -

[code]

and in module
[code]
I try it many times and most of the times the `on message` would appear first. But sometimes the `hear message` would appear before it (happen rarely but happen). I tried to register the module first but this does not change anything. So Is there a way to enforce a particular order ?

[2018-07-22 14:27] AbdelrahmanMohamedDesoky opened #142 "bot.on('message') is triggered with Quickreplies that have postbacks and not bot.on('postback':payload' ?"
I have some quick Replies that i set that have a post-back in their Payload however when the user clicks these quick replies the bot triggers the bot.on('message' event instead of bot.on('postback:<payload>'  ?

Is there any way to identify a quickreply with it's postback ? and a quickreply without postbacks ?

[2018-07-24 15:30] iamvictorabedi opened #143 "help me solve these error on my logd"
i receive these error on my logs when ever i hit a button to that has a payload
TypeError: Cannot read property 'forEach' of undefined
    at data.entry.forEach (/home/victor/unganisha/lib/BootBot.js:649:23)
    at Array.forEach (<anonymous>)
    at BootBot.handleFacebookData (/home/victor/unganisha/lib/BootBot.js:647:16)
    at app.post (/home/victor/unganisha/lib/BootBot.js:634:12)
    at Layer.

[2018-07-25 00:22] #142 closed, assigned to nobody

[2018-07-27 03:13] phamngocduy98 opened #144 "persistent_menu postback suddenly stop working today"
I tested my messenger bot today and found that postbacks that are send from messenger android app not working but it works fine on PC.
Yesterday, there was no problem while postbacks were sent neither from PC nor mobile.

sorry for my bad English

[2018-07-29 21:44] HeyFher opened #145 "bot.setGetStartedButton() doesn't work"
When I call this method in my code **Get Started** button doesn't appear on Messenger platform.

[2018-07-29 22:39] #145 closed

[2018-07-29 22:40] HeyFher commented on #145
I just call bot.deleteGetStartedButton() and then bot.setGetStartedButton() i thinki it was a bug from Messenger

[2018-07-30 11:46] Dmdv opened #146 "top_element_style = LARGE by default and can't see how to change this"
[code]

**Is it possible to pass top_element_style = compact ?**

[2018-07-30 11:53] mraaroncruz commented on #146
@Dmdv did you look at the docs and try to copy the structure they ask for there? Most of these things that don't have a nice wrapper "Just Work" if you create the correct structure in `chat.say()` like above.
Did you try it out yet?

[2018-07-30 12:01] Dmdv commented on #146
Sure, I've run through all the docs and found solution looking at source code
passing **option** parameter just works
[code]

[2018-07-30 12:01] #146 closed

[2018-08-12 08:27] HellCatVN commented on #141
I think it happen disorder because async feature of javascript

[2018-08-12 08:38] HellCatVN commented on #143
please searching before asking . Your solution is written at issue #86

[2018-08-12 08:51] iamvictorabedi commented on #143
Fixed it long time ago. Sorry I didn't close the issue

[2018-08-14 09:20] lehainam125 opened #147 "Keep the conversation after restart app"
Hi everyone,

I wonder if somehow the conversation is kept after the app restarts. Currently, if I'm in the middle of a conversation, then the app restarts by some reasons (new features push to master, app crash...), the new messages will be listen on `message` event, not in the conversation handler.

I know that it is not the issue of the package. I just wonder if there's a way to keep current co

[2018-08-14 15:35] DerekNMartin opened #148 "Messenger Error Handling"
How would I go about handling a messenger error?
(ex.` '(#100) Length of param message[text] must be less than or equal to 2000',`)

It seems like there's no way to catch the error since it seems like the response isn't returned, only console logged.

[2018-08-17 21:02] DerekNMartin opened #149 "Able to send attachment with an attachment_id rather than url?"
I'm able to receive an attachment ID through Send API's `/message_attachments` endpoint.
I'd like to make use of the .sendAttachment() function but it seems like it on takes a url as a param.
Any possibility of passing an attachment_id param?

[2018-08-18 21:31] sarimhaq opened #150 "chat.getUserProfile() not working"
When I call chat.getUserProfile() I am getting the following error:
{ error:
   { message: '(#100) Insufficient permission to access user profile.',
     type: 'OAuthException',
     code: 100,
     error_subcode: 2018247,
     fbtrace_id: 'AMhQXIgh4lW' } }

[2018-08-20 13:29] Charca commented on #150
Hey @sarimhaq, that's probably because the user needs to opt-in by chatting with your bot first. You can check the list of pre-requisites to make this request here: https://developers.facebook.com/docs/messenger-platform/identity/user-profile

[2018-08-20 13:29] #143 closed

[2018-08-20 13:33] Charca commented on #148
@DerekNMartin the Send API methods return a promise, so you should be able to use a `catch` statement like:

[code]

Is that not working for you?

[2018-08-20 16:32] mahmed0715 commented on #84
+1

[2018-08-20 16:35] mahmed0715 commented on #84
I am currently having this issue. needed to do

```this.app.use('/webhook', bodyparser.json({verify:FBVERIFY()})) ```

explicitly.
Please fix this..

[2018-08-20 20:13] jeandybryan commented on #150
Update Facebook url in /bootbot/lib/BootBot.js
**remove**
const url = `https://graph.facebook.com/v2.12/${userId}?fields=first_name,last_name,profile_pic,locale,timezone,gender&access_token=${this.accessToken}` **add**
const url =  `https://graph.facebook.com/${userId}?fields=first_name,last_name,profile_pic&access_token=${this.accessToken}`

[2018-08-26 10:39] ddthanhdat opened #151 "problem with getUpdates"
error: [polling_error] {"code":"ETELEGRAM","message":"ETELEGRAM: 409 Conflict: terminated by other getUpdates request; make sure that only one bot instance is running"}

[2018-09-06 04:31] phamngocduy98 commented on #150
@Charca Can you update Facebook graph api url in the source code?
I got the problem too while updating from API ver 3.0 to 3.1.

[2018-09-11 17:09] #148 closed

[2018-09-11 17:11] valdu02100 opened #152 "Get"
Hi,

I'm new user from Bootbot framework.
I try to get answer from a quick_replies from answer. I didn't know how to get this.
I start with bot.setGetStartedButton() and want to get answer from quickReplies like ''🏹 Je recherche quelqu\'un' and go to the const convo_find_sexe().
I search in documentation but doesn't find answer.
Can you help me.

Thanks

`
'use strict';
const BootBot = require('bo

[2018-09-12 00:44] Charca commented on #150
We should probably make the Graph API version an optional param of the BootBot constructor and default to not use a specific version. If anyone wants to jump in and open PR with this change, it should be a pretty straightforward update.

[2018-09-17 16:26] ns23 opened #154 "Cannot use bot after I changed facebook password"
Recently due to security reasons, I changed my facebook password after that the bot is not working properly and is giving below error.

{ message: 'Error validating access token: The session has been invalidated because the user changed their password or Facebook has changed the session for security reasons.',
2018-09-17T16:13:08.953617+00:00 app[web.1]: type: 'OAuthException',
2018-09-17T16:13:08

[2018-09-19 05:13] danieldiner commented on #152
I also had some trouble finding the answer to this.
After you created your quick reply:

bot.hear(['Hola', 'hey', 'saludos', 'saludo', 'ong', 'Saludos', '¿Como estas?', 'quiero', 'quisiera','dónde', 'donde'], (payload, chat) =>{
	const text = payload.message.text;
	console.log(text);

	chat.say({
		text: 'Hi how may I help?',
		buttons: [
			{type: 'postback', title: 'Hours', payload: 'HOUR_SETTIN

[2018-09-19 08:09] valdu02100 commented on #152
In your exemple, you use buttons with postback but we can't use postback with quickReplies like buttons ? In more I want to send user to function when click on quickReplies without use bot.hear().

Thanks

[2018-09-19 12:40] danieldiner commented on #152
You can try this code like that. I agree it is not the fanciest way but this works for quickReplies.

Because you are setting the button as a postback, so when you configure bot.hear() and pass trough the postback:paload I definitely catches the button clicked.

Why you don’t want to use bot.hear() ?

[2018-09-22 06:58] ns23 commented on #154
I fixed this issue. I forgot to change page access token in Heroku.

[2018-09-22 06:58] #154 closed

[2018-09-26 14:03] A0dh opened #155 "This loop will cause scalability issues, as there is no need to loop through conversations on every response."
https://github.com/Charca/bootbot/blob/c2adc78707e0611d2e64bd11844aa9e0d75dd2aa/lib/BootBot.js#L592

Can be done with userId to conversation hash instead.

[2018-10-04 13:22] realnsleo opened #157 "How to verify user reply information in Conversation."
Hi guys,
This is more of a question that an issue and I was hoping there was someone out there who can assist me. In my code, I have initiated a conversation that goes like:

[code]
Basically, the user responds with their account number which is sent to an external API to retrieve the account details. I want to satisfy a scenario where the user supplies a wrong account number. I want the bot to re

[2018-10-04 14:13] realnsleo commented on #157
The code above actually works :) I had not tried out what I posted in my code!!

[2018-10-04 14:13] #157 closed

[2018-10-07 01:02] wfrancescons commented on #152
Use `.on(quick_reply:YOUR_PAYLOAD)`.
Example:
`chat.say({
		text: 'Some text',
		quickReplies: [{
			content_type: "text",
			title: "Option One",
			payload: "OPTION_ONE"
		}, {
				content_type: "text",
				title: "Option Two",
				payload: "OPTION_TWO"
			}], typing: 1000
	}`
Then:
`bot.on('quick_reply:OPTION_ONE', (payload, chat) => {
	//Do something
});`
`bot.on('quick_reply:OPTION_TWO', (pay

[2018-10-14 10:38] valdu02100 commented on #152
@wfrancescons  Thanks you, your answer resolved my problem. Thanks u !  👍

[2018-10-22 22:29] aspiringguru commented on #56
what is the appSecret ?

is this the add id?

in other facebook apps I've only used and seen mention of the accessToken & verifyToken.

[2018-10-22 22:36] aspiringguru commented on #56
had this question answered in the slack channel
the app secret is >
developer.facebook   > on the app page  > Settings > Basic > show [enter password when challenged]

[2018-10-23 10:12] xram opened #159 "Exceptions are swallowed by BootBot"
`sendRequest` and `getUserProfile` are logging errors to the console and not allowing them to propagate to the calling code. This means that the calling code cannot handle the errors appropriately (e.g. logging the error, etc.).

[2018-10-28 19:00] lehainam125 commented on #150
I created a PR in #161.
I have just contributed to open source project recently (like this is my 5th PR). So please review my PR and send me any comments if the PR needs more update.
Thank you.

[2018-10-29 13:37] scorpioRED opened #162 "Requests POST / 404 Not Found"
Hi!
I'm using bootbot and Ngrok (for https). When I send message to my page - Ngrok receiving request, but bootbot doesn't work
Here is my demo code :
`'use strict';
const BootBot = require('bootbot');
let config = require('./config.json');

console.log('config -> ', config)

const bot = new BootBot({
  accessToken: config.accessToken,
  verifyToken: config.verifyToken,
  appSecret: config.appSecr

[2018-11-08 11:55] Guivers opened #163 "sendListTemplate : Error PostBack Buttons"
Hello everyone,

I'm coming to you because I have a problem recovering the postBack when I use the sendListTemplate function.

When I click on a button I have an error message on facebook that tells me that there is a problem with the bot.

Here is my code, I hope you will be able to enlighten me.

[code]
"PostBack Listener"

Test 1

[code]
TEST 2

[code]

TEST 3

[code]

[2018-11-09 05:08] #84 closed

[2018-11-27 10:19] DevZaid commented on #163
same

[2018-11-29 13:34] razorxan commented on #47
Any news on the topic? I'd really like to keep the conversation alive after interacting with a webview.

[2018-12-01 19:41] clonn commented on #139
I try to use `bot.say(messageId, `${message}`);`, but it responded the result.

[code]

[2019-02-05 05:04] dipta007 opened #167 "How to set default message?"

[2019-02-06 15:50] valdu02100 opened #168 "NLU Integration example code"
Hey,

I want to know if someone has already integrated any NLU API like wit.ai, recast.ai or any NLU service in this app.

I want to analyse intent from user text input and get all entities.

Thanks for helps.
Valentin

[2019-02-17 14:05] krasnyd opened #169 "How get user location?"
Hi. Messenger allows the user to send their current location. Is there any option to read it by Bootbot?
Thank you for your answer.

[2019-02-17 14:33] krasnyd commented on #169
I've already figured it out.

[code]

[2019-03-01 09:18] HuuTV opened #170 "Deploy to ngrok not working"
1. Run node index.js
2. Run ngrok http 3000
3. Config on developers.facebook.com

How to test message facebook to server node?

[2019-03-11 15:35] rostyslav-harvanko opened #171 "Media picker bar"
Hi everyone, I have a question about media picker bar, if it possible to disable some icons when you use chatbot?
![image](https://user-images.githubusercontent.com/29739268/54135933-6fb22200-4423-11e9-9ba5-7435d4ec1aad.png)

[2019-03-13 07:10] manhag opened #172 "enable my SSL certificate"
how can i enable my SSL in webhook url
I ALREADY HAVE my own  SSL CERTIFICATE
which is working
e.g
https://www.manhag.net

but can't work with custom port 3000
https://www.manhag.net:3000/webhook

[2019-03-14 15:05] xMr110 opened #173 "Respone only to me the app Owner"
bot don,t replay others accounts i tried to talk with the page from another account i had no respone <<
and when i text the page from my account the owner of the page and the bot / < the bot replay

idk what it could be the problem

[2019-03-15 19:06] #173 closed

[2019-03-22 15:16] olczak commented on #47
You can close the webview with Messenger Extensions SDK.
https://developers.facebook.com/docs/messenger-platform/webview#close

[2019-04-10 21:04] balazsorban44 opened #174 "Error: Couldn't validate the request signature"
It is not the first issue related to this problem (see #14 #40 #48 #66 #67 #69 #84 #110), but as I see that most of them ended up being closed without a solution, I was thinking of opening it again, with some extra thoughts. So I searched the Internet, and the most possible source of the problem is here:

https://github.com/Charca/bootbot/blob/8884e72403ced1bcf5615645251968640b7c3936/lib/BootBot.j

[2019-04-15 13:52] Charca commented on #174
Hey @balazsorban44, I've actually never encountered this error myself, but since this error is thrown when your bot tries to verify that the request comes from Facebook, you can probably bypass the verification locally while you test it.

It's been a while since I've worked with this project, but one thing I can suggest is changing line 36 in BootBot.js from:
[code]
to:
[code]

If that works, then

[2019-04-21 16:49] mohammadameer opened #175 "Invalid format for .say() message"
i have a list of responses to request

`
let res = [
    "how are you",
    "wow",
]
`

for every request there will be a response  i have make a prototype in the array object to get random from the array

[code]

i upload my code to heroku and i get this

`
Invalid format for .say() message.

`

[2019-04-21 18:04] mohammadameer commented on #175
the problem was that i have not make the random function work i just need to add `()`

[2019-04-21 18:04] #175 closed

[2019-05-05 10:50] #172 closed

[2019-05-05 10:54] manhag opened #176 "enable SSL in express server"
i want to add key and CRT to express server
but it is not working
my edit is as following

[code]

[2019-05-24 15:43] Scylin232 opened #177 "Bootbot Request"
I have a part of code:

[code]
And i have this part:
[code]
They intertwine, asking several times how to fix it?

[2019-05-31 04:37] roeeyn commented on #170
Hi,
I realized a little tutorial of how to connect to Facebook Messenger. https://github.com/roeeyn/NodeChatbot
It's in spanish, but I think you can use Google Translate for getting it in English.
Hope it helps!

[2019-06-06 07:48] PipaStanislav opened #178 "How can i delete or update message using your lib."

[2019-07-19 09:43] cpanel10x opened #179 "The reusable attachment ID"
Hi,
I set
`
convo.say({
	               		is_reusable: true,
					 	attachment: 'video',
					 	url: jsonVideo.contentUrl
				   	});
`
But how to get respone about
`
{
  "attachment_id":"xxxxxxxxxxxx"
}
`
Anyone have example? Thank you

[2019-08-02 00:12] AbdelrahmanMohamedDesoky commented on #178
I don't think you can remove or edit messages in messenger Send API, please correct me If I'm mistaken.

[2019-08-15 14:02] tebogo37 commented on #139
I am also getting this error. ngrok and VSCode terminal fire 200  OK Status.

The user said "hello", "hi", "hey", or "hey there"
The user said: Hello
Messenger Error received. For more information about error codes, see: https://goo.gl/d76uvB
{ message: '(#100) No matching user found',
  type: 'OAuthException',
  code: 100,
  error_subcode: 2018001,
  fbtrace_id: 'AdH9H1-LjIK8i8EJv_--Laf' }

[2019-09-10 06:43] Fightfx1 opened #181 "how do i get location from the user via telegram"

[2019-09-10 15:21] mrpinkcat opened #182 "Https server ?"
Can I use https server with certificate insted express http server ? @Charca

[2019-09-11 07:13] mrpinkcat commented on #182
I have extend the BootBot class for https server.

[code]

Insted of call `new BootBot(...).start(port)` you can now call ```startHttps```
e.g.
[code]

[2019-09-11 19:45] Charca commented on #182
Hey @mrpinkcat, I think that's a solid solution. Thanks for sharing!

If you'd like to add the option to BootBot itself, feel free to open a PR and tag me on it.

[2019-09-11 19:45] #182 closed

[2019-09-28 14:11] #181 closed

[2019-10-16 12:29] Scylin232 opened #184 "YouTube Thumbnail"
Greetings, dear developers! When working with this framework, I ran into a problem - my bot sends a link to YouTube video, but the thumbnail is not displayed, although the Messenger itself, when I send it, has a thumbnail. How can this be solved?

[2019-10-24 14:35] theproj3ct commented on #150
yeah for me, timezone wasnt approved yet, just removed timezone and it worked.

Thanks alot

[2019-12-11 11:04] AkramLazkanee opened #185 "Request to support handover protocol"
Hello dear @Charca, i was wondering if there's any new update will be committed in the short term to support the handover protocol

[2020-01-04 08:27] artsiom-kisialiou opened #187 "Bot answers only on one messge from user"
How I can ignore others messages from users in conversation on one question, when users starts convo?
The Bot asks a person a question, for example 1/2 and if the person answers the first question two messages, then the bot hangs and does not send questions to the person anymore. Can anyone explain how this get around?

[2020-01-20 10:37] AlexWalder commented on #176
I found running it through a proxy such as Caddy was easier than getting express to do what I wanted

[2020-03-02 14:49] theproj3ct commented on #185
Yeah this would be epic

[2020-03-04 23:20] Charca commented on #185
Hey folks, apologies for the late reply here. As you might have guessed by the lack of recent updates, I'm not actively maintaining this library, so I can't make any promises about new features.

That said, if anyone wants to contribute with this or any other feature, or to take on the task of maintaining Bootbot in the future, please contact me and we can work together to make sure that people wh

[2020-03-17 06:43] pinchez254 commented on #174
This is because your JSON is not  being propery parsed. Body parser worked for me perfectly . example ` const bodyParser = require("body-parser"),
  app = express().use(bodyParser.json());`

[2020-03-20 09:59] binhluong2012 opened #188 "Error: listen EADDRINUSE :::3000"
Hello, when i tried to setup bootbot with Adonis and Apache, site is working, but when Verify call back url, it's showing this error. I've tested with ngrok and it's working fine.

[2020-03-23 01:50] Charca commented on #188
That error message means there's some other process running on port 3000. You should either run Bootbot on a different port, or kill the process that's currently running on 3000.

[2020-03-23 02:21] binhluong2012 commented on #188
Thank for reply, i've tried to run Bootbot on different port
First time i saw the message "Facebook Webhook running on localhost:3000/webhook", but can't verify, then try to click again then it show error.
Pls check attachments.
![screen1](https://user-images.githubusercontent.com/29191103/77274079-a9c92b80-6ce7-11ea-9829-72c5a2abdc16.png)
![screen2](https://user-images.githubusercontent.com/29191

[2020-03-28 17:46] jonasgroendahl opened #189 "Question: Facebook Groups"
Hello everyone,

I was curious if this library can used to create posts in Facebook Groups? And if not, how to get started within the JavaScript world? I'm new to this kind of thing and would be appreciate if a kind soul out there could share some information :)

[2020-05-05 15:44] Daniellunsc opened #190 "How to disable request signature verification?"
Actually I'm trying to deploy a bot made for WorkPlace, but i developed it using facebook messenger.
As far as I could see, the tokens sent in the request are the same, but request verification keeps failling.
Is there any option to disable the verification?

[2020-06-08 06:22] Sshuichi opened #191 "[Feature request] Account linking"
I would like to authenticate the user from my website on the chatbot, so I can save the chat on his logs on my website.
FB offers the account_linking method: https://developers.facebook.com/docs/messenger-platform/identity/account-linking/

Thank you.

[2020-06-25 03:57] #190 closed

[2020-07-10 12:52] Yura2312 commented on #47
Same here :/

[2020-07-15 15:14] Daniellunsc opened #192 "Release latest update."
@Charca
Actually Im missing the latest update commit on NPM.

Can you please release it on NPM? I'm missing the feature of creating endpoints without validating request signature.

[2020-07-24 19:20] Daniellunsc commented on #187
Hello, do you still have this issue? Can you share your code where have the both questions ?

[2020-08-13 12:35] Yonle commented on #63
Hey dude. When i am Trying make it respond, It was Exict this error:

You cannot send Message to This User ID

[2020-08-16 11:17] rrsilaya opened #193 "Conversation context gets lost when postback listener is set"
Hi. I have code like this:

[code]

I also have a listener to `postback` events i.e.:
[code]

However, after the bot asks the user, the context gets lost and the postback goes with the global postback listener instead of the conversation callbacks.

Am I doing something wrong?

[2020-08-20 03:10] Charca commented on #192
Hey @Daniellunsc, sorry for the massive delay. I've released v1.1.0 to NPM which should have the latest.

[2020-08-20 03:10] #192 closed

[2020-08-20 16:39] buster95 opened #194 "Integration with express"
How can I integrate it with a existent express app??

[2020-08-20 17:50] buster95 commented on #194
let me make you a PR, adding a middleware() function that will be used in a existent express instance
I'm doing tests

could be used such as in the next code
[code]

[2021-01-13 09:49] d3vvcom opened #198 "i18n and sessions"
Hello, how connect i18n and session? BootBot class doesn't support middleware(.use())? Thanks for the help

[2021-03-13 01:19] mustafamjumaah opened #199 "chat.say() not sending in order"
The chatbot is not sending a message in the same order I ask him to do

[2021-03-13 01:39] #199 closed, assigned to nobody

[2021-03-13 01:39] mustafamjumaah commented on #199
Found it on the documentation.

[2021-04-06 08:30] andreinastas opened #200 "Allow for quick replies to be sent with template"
![image](https://user-images.githubusercontent.com/33574654/113681891-33695280-96cb-11eb-897b-bf0036ba12b5.png)
![image](https://user-images.githubusercontent.com/33574654/113682066-627fc400-96cb-11eb-8e86-034636b52ece.png)

[2021-06-08 14:59] acv-binhnv opened #201 "Error sending message: getaddrinfo EAI_AGAIN graph.facebook.com"
we occurded issue as log detail below

Error sending message: FetchError: request to https://graph.facebook.com/v2.12/me/messages?access_token=EAArUC4vJ1e8BAECtMIRhFCURWmNmoAlYZBD2jrHLnqkzrgpdFmDs0sEBHFp6v70qzXvWlQ7tVwOIFagmaUvXyXtvSeNVbw9qmLoZCMkIIAXz3ZAvYfpOfQdtZC0gZBgNGxxxxxxxxxxxxxxx failed, reason: getaddrinfo EAI_AGAIN graph.facebook.com

as error so bot response to user very slow
pls who ca

[2021-10-10 01:15] qxb3 opened #202 "Send img from local storage"
How do i send images that's comming from my local storage and not in url?

[2022-05-10 11:48] natha5 opened #205 "Facebook webhook not approving URL"
When trying to set up the webhook on Facebook for Developers, when I put in my bots callback URL, Facebook never allows it, always declaring it to be 'malicious'. No matter what I change the url to, it never works.

[2022-07-03 19:45] #113 closed

[2022-07-04 08:14] secretrobotron commented on #113
🎉

[2022-09-28 08:10] qxb3 commented on #198
I may be too far late but you can just take the express instance using `bot.app` and do it like this:

[code]

[2022-11-10 11:22] #88 closed

[2022-11-10 11:22] #87 closed

[2022-11-10 11:22] #86 closed

[2022-11-10 11:22] #85 closed

[2022-11-10 11:22] #83 closed